[name='caseSearch']{
    height:23px;
}

[name='objectSearch']{
    height:23px;
}

[name='setSearch']{
    height:23px;
}

[name='exeSearch']{
    height:23px;
}

#elementBody{
    overflow-y: auto;
    height: calc( 100% - 60px);
    white-space: nowrap;
}

.setup{
    padding-left: 0px;
}

#no-dec-link{
    text-decoration: none;
    color:inherit;
}

.newStepPlace{
    border-radius: 5px;
}

.action{
    resize:none;
}

.result{
    resize:none;
}

.uploadContainer{
    height:30px;
    width:50%;
    padding-top:2px;
    float:left;
}

.uploadContent{
    width:100%; 
    min-height:50px;
}

#cont-50-left{
    width:50%; 
    float:left;
}

#cont-50-right{
    width:50%; 
    float:right;
}

.case_table_no{
    width:100%;
    table-layout: fixed;
    height:100%;
}

.newStepPlace{
    height: calc(100% - 30px);
    overflow-y: auto;
}

#stepContainer{
    min-height:400px;
    height: 50%;
    width: 100%;
}

#exeCase{
    min-height: 400px;
    height: calc(50% - 40px);
}

.incCases{
    height: calc(100% - 41px);
    overflow-y:auto;
}

.incExeCases{
    height: calc(100% - 41px);
    overflow-y:auto;
}

.case_header{
    width:100%;
    height:calc(100% - 50px);
    overflow-y:auto;
}

.setForm{
    width:100%;
    height:calc(100% - 50px);
    overflow-y:auto;
}

.exeHeader{
    width:100%;
    height:calc(100% - 50px);
    overflow-y:auto;
}