[name='caseSearch']{
    height:23px;
}

[name='objectSearch']{
    height:23px;
}

[name='setSearch']{
    height:23px;
}

[name='exeSearch']{
    height:23px;
}

#elementBody{
    overflow-y: auto;
    height: calc( 100% - 60px);
    white-space: nowrap;
}

#testBody{
    height: calc( 100% - 60px);
}

.setup{
    padding-left: 0px;
}

#no-dec-link{
    text-decoration: none;
    color:inherit;
}

.newStepPlace{
    border-radius: 5px;
}

.action{
    resize:none;
}

.result{
    resize:none;
}

.uploadContainer{
    height:30px;
    width:50%;
    padding-top:2px;
    float:left;
}

.uploadContent{
    width:100%; 
    min-height:50px;
}

#cont-50-left{
    width:50%; 
    float:left;
}

#cont-50-right{
    width:50%; 
    float:right;
}

.case_table_no{
    width:100%;
    table-layout: fixed;
}

.newStepPlace{
    height: calc(100% - 30px);
    overflow-y: auto;
}

#stepContainer{
    min-height:400px;
    height: 50%;
    width: 100%;
}

#exeCase{
    min-height: 400px;
    height: calc(50% - 40px);
}

.incCases{
    height: calc(100% - 41px);
    overflow-y:auto;
}

.incExeCases{
    height: calc(100% - 41px);
    overflow-y:auto;
}

.case_header{
    width:100%;
    height:calc(100% - 50px);
    overflow-y:auto;
}

.setForm{
    width:100%;
    height:calc(100% - 50px);
    overflow-y:auto;
}

.exeHeader{
    width:100%;
    height:calc(100% - 50px);
    overflow-y:auto;
}

#padding-15{
    padding-top: 15px;
    padding-bottom: 15px; 
}

#adminNavbarCSS{
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

#img{
    max-width:300px;
    max-height:220px;
    float:left;
}
.imgFiles{
    min-height:50px;
    max-height:310px;
    overflow-y:auto;
}
.fileContainer{
    max-height:64px;
    overflow-y:auto;
}
[name='fileToUpload']{
    width:100%;
}
.popover-content{
    width:100%;
}
#popoverFileName{
    max-width: 200px;
    overflow: hidden;
}