html{
    height: 100%;
    width: 100%;
}

.navigation{
    height: 50px;
}

.navbar.navbar-default.navbar-static-top{
    margin-bottom: 0;
}

#page-wrapper{
    min-height: 415px;
    height: calc(100% - 51px);
    width: calc(100% - 250px);
    padding-left: 14px;
    padding-right: 14px;
}

#wrapper{
    height: 100%;
    width: 100%;
}

#nav-col-md-9{
    height:100%; 
    overflow-y:hidden;
    width:100%;
}

#nav-design-col-md-9{
    height: 100%;
}

.row{
    height: 100%;
    width: 100%;
}