.admin_table{
	width: 25%;
	text-align: center;
}

.admin_table-5{
	width: 5%;
	text-align: center;
}
.admin_table-0{
    text-align: center;
}
.admin_table-20{
	width: 20%;
	text-align: center;
}
.slideMoving{
	display: none;
}