<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rob</title>

    <!-- Bootstrap Core CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
	
	<link href="{{ url_for('static', filename='css/other.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/box.css') }}" rel="stylesheet">
	
	<script type='text/javascript' src="{{ url_for('static', filename='jquery-2.1.4.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='script1.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='setup.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='mouse_on_header.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='add_case.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='case_template_scripts.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='add_set.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='set_template_scripts.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='add_execution.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='object_template_script.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='add_object.js') }}"></script>
	
	<script type='text/javascript' src="{{ url_for('static', filename='report.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='report_template_scripts.js') }}"></script>

</head>

<body style="background-color:#333;color: #eee">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Rob Inc</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
					<li>
                        <a href="#" id="report">Report</a>
                    </li>
                    <li>
                        <a href="#" id="design">Design</a>
                    </li>
                    <li>
                        <a href="#" id='test'>Test</a>
                    </li>
					<li>
						<a href="#" id="setup" onclick="setup">Setup</a>
                    </li>
					{% if user == "admin" %}
					<li>
						<a href="#" id='admin'>Admin</a>
					</li>
					{% endif %}
                    <li>
						<a href="#" onclick="/logout"/>Logout</a>
                    </li>					
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
		
		<div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="collapse_submenu">
                <ul class="nav navbar-nav navbar-right" id="submenu">
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
	<br><br><br><br><br><br>
    <!-- Page Content -->
    <div class="container">
        <!-- Features Section -->
        <div class="row">
			<div class="setup_buttons">
			</div>
			<div class="search_form_place">
			</div>
			<hr>
			<div class="setup col-md-3">
				<div class="col-md-12-set">
					
				</div>
				
				<div class="col-md-12-case">
					
				</div>
				
				<div class="col-md-12-object">
					
				</div>
            </div>
            <div class="col-md-9" style='color: #eee'>
				<div class='new_form'>
				</div>
			{% if dashboard %}
				{% for k in dashboard %}
				<div class='wrap rounded' id='{{k[0]}}'>
					<table style="width:100%;" class='table'>
						<tr><td>Title:</td><td>'{{k[1]}}'</td><td>User:</td><td>'{{k[2]}}'</td></tr>
						<tr><td>Date:</td><td>'{{k[3]}}'</td>
						{% if user == "admin" %}
						<td style='width:10px'><a href='#' id='{{k[0]}}' class="edit_report" style='width:5px'>Edit</a></td>
						{% elif user == k[2] %}
						<td style='width:10px'><a href='#' id='{{k[0]}}' class="edit_report" style='width:5px'>Edit</a></td>
						{% else %}
						<td style='width:10px'></td>
						{% endif %}
						<td style='width:10px'><a href='#' id='{{k[0]}}' class="open_jira" style='width:5px'>Jira</a></td></tr>
						<tr><td colspan="4">Description: <a href='#' id='{{k[0]}}' class="glyphicon glyphicon-chevron-down" style='width:15px'></a><a href='#' id='{{k[0]}}' class="glyphicon glyphicon-chevron-up" style='width:15px'></a></td></tr>
						<tr id='{{k[0]}}' class="text_area"><td colspan="4" style="width:100%"><textarea id='{{k[0]}}' class="text_area" rows="5" maxlength="10000" style="width:90%;background-color:#777;color:#eee;" readonly>'{{k[4]}}'</textarea></td></tr>
					</table>
				</div>
				{% endfor %}
			{% endif %}
            </div>
			<div class="col-md-3">
			</div>
        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; CAE Engineering</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- Bootstrap Core JavaScript -->
    <script src='{{ url_for('static', filename='js/bootstrap.min.js') }}'></script>
</body>

</html>
