{% if cases %}
	<p><b>Cases</b></p>
	{% for k in cases%}
		<div data-dbid='case{{k[0]}}' draggable="true" ondragstart="drag(event)" ondragover="dragHover(event)">
			<a href='#' data-dbid='{{k[0]}}' class='case'>{{k[1]}}</a>
		</div>
	{% endfor %}
{% endif %}

{% if loadcase %}
	<p><b>Case</b></p>
	<button name='edit_case' id='{{loadcase[0][0]}}' class='btn btn-default btn-sm'>Edit</button>
	<a name='deleteCase' id='{{loadcase[0][0]}}' class='btn btn-danger btn-sm' href='#' role='button'>Delete</a>
	<br>
	<div style='width:100%'>
		<table style='width:100%'>
			<tr>
				<td>Name:</td>
				<td>
					{% for k in loadcase%}
					<span id='{{k[0]}}' class='case'>{{k[1]}}</span>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Priority:</td>
				<td>
					{% for k in loadcase%}
						<span id='{{k[0]}}' class='case'>{{k[2]}}</span>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Data:</td>
				<td>
					{% for k in loadcase%}
						<span id='{{k[0]}}' class='case'>{{k[3]}}</span>
					{% endfor %}
				</td>
			</tr>
		</table>
	</div>
	<div class='stepBtn'></div>
	<div style='width:100%'>
		<table style='width:100%' class='case_table_no'>
		</table>
	</div>
{% endif %}

{% if editablecase %}
	<table class='editablecase' data-dbid='{{editablecase[0][0]}}' style='width:100%'>
		<tr>
			<th>Title:</th>
			<th><input type='text' name='title' value='{{editablecase[0][1]}}' class='form-control' id='{{editablecase[0][0]}}'></th>
		</tr>
		<tr>
			<th>Priority:</th>
			<th><input type='number' name='priority' value='{{editablecase[0][2]}}' class='form-control'></th>
		</tr>
		<tr>
			<th>Data:</th>
			<th><input type='text' name='data' value='{{editablecase[0][3]}}' class='form-control'></th>
		</tr>
	</table>
	<div class='stepBtn'></div>
	<div style='width:100%'>
		<table style='width:100%' class='case_table_no'>
		</table>
	</div>
{% endif %}