{% if cases %}
<div class='casePageHeader' style="width:100%;">    
    <table style="width:100%;">
        <tr style="width:100%;">
            <td style="width:15%;"><b>Cases</b></td>
            <td style="width:60%;">
                <input type="text" name="caseSearch" class="form-control" onchange="caseSearch()" style="height:25px;">
            </td>
            <td style="width:2%;">
            </td>
            <td style="width:20%;">
                <a href="#" class="caseHideShow" onclick='caseHideShow()' data-mode="show"><span class='glyphicon glyphicon-collapse-up'></span></a>
            </td>
        </tr>
    </table>
</div>
<div class='caseList' style="width:100%;height:100%;overflow-y: auto;">
	{% for k in cases%}
		<div class='elementOfCaseList' data-dbid='case{{k[0]}}' draggable="true" ondragstart="drag(event)" ondragover="dragHover(event)">
			<a href='#' data-dbid='{{k[0]}}' id='{{k[0]}}' class='case'>{{k[1]}}</a>
		</div>
	{% endfor %}
</div>
{% endif %}

{% if caseForm %}
<div class='case_header'>
    <table class='editablecase' data-dbid='newCase' style='width:100%'>
        <tr>
            <th>Name:</th>
            <th>
                <input type='text' name='title' class='form-control' value='Name'  readonly='true'>
            </th>
        </tr>
        <tr>
            <th>Priority:</th>
            <th>
                <input type='number' name='priority' class='form-control' value='1' readonly='true'>
            </th>
        </tr>
        <tr>
            <th>Data:</th>
            <th>
                <input type='text' name='data' class='form-control' value='Description' readonly='true'>
            </th>
        </tr>
    </table>
    <div class='AreaField' style='wdith:100%;'>
        <h3>Areas: </h3>
        <table>
            {% for k in caseForm %}
                {% if loop.index == 1 %}
                    <tr>
                {% endif %}
                        <td><input type="checkbox" disabled="disabled" name="areaBox" data-dbid='{{k[0]}}'>{{k[1]}}</td>
                {% if (loop.index%6 == 0) and (loop.index!=count) %}
                    </tr>
                    <tr>
                {% endif %}
                {% if (loop.index%6 == 0) and (loop.index==count) %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="Files" style='widt:100%;'>
        <div class="uploadHeader" style='widt:100%;'>
            <h3>
                <a href="#" onclick="toggleCaseFileCont()" style="text-decoration: none;">
                    Files: 
                </a>
            </h3>
        </div>
        <div class="uploadContent" style='widt:100%;display: none;'>
            <div style="width:100%;min-height:75px">
                <div style="width:50%; float:left;">
                    <form class="form-group" data-formid='newCaseFile'  method="post" enctype="multipart/form-data" style="width:100%;">
                        Select file to upload:
                        <input type="file" name="fileToUpload" id="fileUploadCase" multiple>
                    </form>
                </div>
                <div style="width:50%; float:left;">
                    <table class="caseFiles" style="width:100%;">
                    </table>
                </div>
            </div>
            <div class="imgFiles" style="width:100%;"></div>
        </div>
    </div>
    <div style='width:100%'>
        <table>
            <tr>
                <td>
                    <button name='add_step' id='add_step' class='btn btn-default btn-sm' disabled="true">Add Step</button>
                </td>
                <td>
                    <button name='delete_step' id='delete_step' class='btn btn-default btn-sm' disabled="true" onclick="deleteStep()">Delete Step</button>
                </td>
                <td>
                    <button name='up_step' id='up_step' class='btn btn-default btn-sm' disabled="true" onclick="moveStep('up')">Up</button>
                </td>
                <td>
                    <button name='down_step' id='down_step' class='btn btn-default btn-sm' disabled="true" onclick="moveStep('down')">Down</button>
                </td>
            </tr>
        </table>
        <div class='case_table_no' style='width:100%'>
            <table style='width:100%;'>
                <tr>
                    <th>#</th>
                    <th style='width:49%;'>Action</th>
                    <th style='width:49%;'>Result</th>
                    <th></th>
                </tr>
            </table>
            <div class='newStepPlace' ondrop='drop(event)' ondragover='allowDrop(event)' style='border-radius: 5px;'>
                <div class="stepDragg" draggable="true" ondragstart="drag(event)" ondragover="dragHover(event)">
                    <div style="width:100%;">
                        <table style='width:100%;'>
                            <tr>
                                <th><a href='#' data-dbid='' id='' class='step' onclick='selectStep(event)'>#</a><th>
                                <th>
                                    <textarea name='action[]' class="action form-control" rows="1" overflow="auto" disabled="disabled" onkeypress="reSizeTextarea(event)" style="resize:none;">Action description</textarea>
                                </th>
                                <th>
                                    <textarea name='result[]' class="result form-control" rows="1" overflow="hidden" disabled="disabled" onkeypress="reSizeTextarea(event)" style="resize:none;">Result description</textarea>
                                </th>
                                <th>
                                    <a href='#' data-dbid='' id='' class='step' onclick="removeStep(event)">
                                        <span class="glyphicon glyphicon-remove" style="color:red;"></span>
                                    </a>
                                </th>
                            </tr>
                        </table>
                    </div>
                    <div style='height:30px;width:50%;padding-top:2px;float:left;'>
                        <form class="form-group" data-formid='newStepActionFile'  method="post" enctype="multipart/form-data" style="width:100%;height:100%;" onchange="loadFiles(event,'action')">
                            <input type="file" name="fileToUploadStepAction" id="fileUploadStepAction" multiple>
                        <ul></ul>
                        </form>
                    </div>
                    <div style='height:30px;width:50%;padding-top:2px;float:left;'>
                        <form class="form-group" data-formid='newStepResultFile'  method="post" enctype="multipart/form-data" style="width:100%;height:100%;" onchange="loadFiles(event,'result')">
                            <input type="file" name="fileToUploadStepResult" id="fileUploadStepResult" multiple>
                        <ul></ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if loadcase %}
	<button name='edit_case' id='{{loadcase[0][0]}}' class='btn btn-default btn-sm'>Edit</button>
	<a name='deleteCase' id='{{loadcase[0][0]}}' class='btn btn-danger btn-sm' href='#' role='button'>Delete</a>
	<br>
	<div style='width:100%'>
		<table style='width:100%'>
			<tr>
				<td>Name:</td>
				<td>
					{% for k in loadcase%}
					<span id='{{k[0]}}' class='case'>{{k[1]}}</span>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Priority:</td>
				<td>
					{% for k in loadcase%}
						<span id='{{k[0]}}' class='case'>{{k[2]}}</span>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Data:</td>
				<td>
					{% for k in loadcase%}
						<span id='{{k[0]}}' class='case'>{{k[3]}}</span>
					{% endfor %}
				</td>
			</tr>
		</table>
	</div>
    <div class='AreaField' style='width:100%;'>
        <h3>Areas: </h3>
        <table>
            {% for k in areas %}
                {% if loop.index == 1 %}
                    <tr>
                {% endif %}
                        <td>
                            {% if k[1] == "checked" %}
                            <input type="checkbox" disabled="disabled" name="areaBox" data-dbid='{{k[0][0]}}' checked>{{k[0][1]}}
                            {% else %}
                            <input type="checkbox" disabled="disabled" name="areaBox" data-dbid='{{k[0][0]}}'>{{k[0][1]}}
                            {% endif %}
                        </td>
                {% if (loop.index%6 == 0) and (loop.index!=count) %}
                    </tr>
                    <tr>
                {% endif %}
                {% if (loop.index%6 == 0) and (loop.index==count) %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="Files" style='width:100%;'>
        <div class="uploadHeader" style='width:100%;'>
            <h3>
                <a href="#" onclick="toggleCaseFileCont()" style="text-decoration: none;">
                    Files: 
                </a>
            </h3>
        </div>
        <div class="uploadContent" style='width:100%; min-height:50px;'>
            <div style="width:100%;min-height:70px;">
                <div style="width:50%; float:left;">
                    <form class="form-group" data-formid='newCaseFile'  method="post" enctype="multipart/form-data" style="width:100%;">
                        Select file to upload:
                        <input type="file" name="fileToUpload" id="fileUploadCase" multiple>
                        <button class="btn btn-default btn-xs" type="button" onclick="updateFilesToCase({{loadcase[0][0]}})" style="width:50%; float:left;">Upload</button>
                    </form>
                </div>
                <div style="width:50%; float:left;">
                    <table class="caseFiles" style="width:100%;">
                        {% if files != "empty" %}
                        {% for k in files %}
                            <tr data-fileid='{{k[0]}}'>
                                <td>
                                    <a href="{{ url_for('uploads',filename='case/'+k[3]) }}" download>
                                        {% if k[4] == "txt" or k[4] == "pdf" or k[4] == "log" or k[4] == "doc" or k[4] == "docx" or k[4] == "xls" or k[4] == "xlsx" or k[4] == "csv" or k[4] == "xlt" %}
                                        <span class="glyphicon glyphicon-file"></span>
                                        {% elif k[4] == "jpg" or k[4] == "jpeg" or k[4] == "png" %}
                                        <span class="glyphicon glyphicon-picture"></span>
                                        {% elif k[4] == "avi" or k[4] == "mp4" %}
                                        <span class="glyphicon glyphicon-film"></span>
                                        {% else %}
                                        <span class="glyphicon glyphicon-cog"></span>
                                        {% endif %}
                                    </a>
                                    <!--</button>-->
                                </td>
                                <td>
                                    {{k[3]}}
                                </td>
                                <td>
                                    <a href="#" onclick="deleteFileCase({{k[0]}})" style="color:red;">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="imgFiles" style="min-height:50px;">
                {% for k in files %}
                {% if k[4] == "jpg" or k[4] == "jpeg" or k[4] == "png" %}
                    <div class="responsive" data-fileid='{{k[0]}}'>
                      <div class="img">
                        <a target="_blank" href="{{ url_for('uploads',filename='case/'+k[3]) }}" download>
                          <img src="{{ url_for('uploads',filename='case/'+k[3]) }}" width="300" height="200">
                        </a>
                        <div class="desc">{{k[3]}} 
                            <a href="#" onclick="deleteFileCase({{k[0]}})" style="color:red;">
                                    <span class="glyphicon glyphicon-remove"></span>
                            </a>
                          </div>
                      </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
	<div class='stepBtn'></div>
	<div style='width:100%'>
        <table class='case_table_no' style='width:100%;table-layout: fixed;'></table>
    </div>
{% endif %}

{% if editablecase %}
<div class='case_header'>
	<table class='editablecase' data-dbid='{{editablecase[0][0]}}' style='width:100%'>
		<tr>
			<th>Title:</th>
			<th><input type='text' name='title' value='{{editablecase[0][1]}}' class='form-control' id='{{editablecase[0][0]}}'></th>
		</tr>
		<tr>
			<th>Priority:</th>
			<th><input type='number' name='priority' value='{{editablecase[0][2]}}' class='form-control'></th>
		</tr>
		<tr>
			<th>Data:</th>
			<th><input type='text' name='data' value='{{editablecase[0][3]}}' class='form-control'></th>
		</tr>
	</table>
    <div class='AreaField' style='width:100%;'>
        <h3>Areas: </h3>
        <table>
            {% for k in areas %}
                {% if loop.index == 1 %}
                    <tr>
                {% endif %}
                        <td>
                            {% if k[1] == "checked" %}
                            <input type="checkbox" name="areaBox" data-dbid='{{k[0][0]}}' checked>{{k[0][1]}}
                            {% else %}
                            <input type="checkbox" name="areaBox" data-dbid='{{k[0][0]}}'>{{k[0][1]}}
                            {% endif %}
                        </td>
                {% if (loop.index%6 == 0) and (loop.index!=count) %}
                    </tr>
                    <tr>
                {% endif %}
                {% if (loop.index%6 == 0) and (loop.index==count) %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="FileUpload" style='width:100%;'>
        <div class="uploadHeader" style='width:100%;'>
            <h3>
                <a href="#" onclick="toggleCaseFileCont()" style="text-decoration: none;">
                    Files: 
                </a>
            </h3>
        </div>
        <div class="uploadContent" style='width:100%;min-height:50px;'>
            <div style="width:100%;min-height:75px;">
                <div style="width:100%;">
                    <form class="form-group" data-formid='newCaseFile'  method="post" enctype="multipart/form-data" style="width:100%;">
                        Select file to upload:
                        <input type="file" name="fileToUpload" id="fileUploadCase" multiple>
                    </form>
                </div>
                <div style="width:50%; float:left;">
                    <table class="caseFiles" style="width:100%;">
                        {% if files != "empty" %}
                        {% for k in files %}
                            <tr data-fileid='{{k[0]}}'>
                                <td>
                                    <a href="{{ url_for('uploads',filename='case/'+k[3]) }}" download>
                                        {% if k[4] == "txt" or k[4] == "pdf" or k[4] == "log" or k[4] == "doc" or k[4] == "docx" or k[4] == "xls" or k[4] == "xlsx" or k[4] == "csv" or k[4] == "xlt" %}
                                        <span class="glyphicon glyphicon-file"></span>
                                        {% elif k[4] == "jpg" or k[4] == "jpeg" or k[4] == "png" %}
                                        <span class="glyphicon glyphicon-picture"></span>
                                        {% elif k[4] == "avi" or k[4] == "mp4" %}
                                        <span class="glyphicon glyphicon-film"></span>
                                        {% else %}
                                        <span class="glyphicon glyphicon-cog"></span>
                                        {% endif %}
                                    </a>
                                    <!--</button>-->
                                </td>
                                <td>
                                    {{k[3]}}
                                </td>
                                <td>
                                    <a href="#" onclick="deleteFileCase({{k[0]}})" style="color:red;">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="imgFiles" style="width:100%;">
                {% for k in files %}
                {% if k[4] == "jpg" or k[4] == "jpeg" or k[4] == "png" %}
                    <div class="responsive" data-fileid='{{k[0]}}'>
                      <div class="img">
                        <a target="_blank" href="{{ url_for('uploads',filename='case/'+k[3]) }}" download>
                          <img src="{{ url_for('uploads',filename='case/'+k[3]) }}" width="300" height="200">
                        </a>
                        <div class="desc">{{k[3]}} 
                            <a href="#" onclick="deleteFileCase({{k[0]}})" style="color:red;">
                                    <span class="glyphicon glyphicon-remove"></span>
                            </a>
                          </div>
                      </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
	<div style='width:100%'>
        <table>
            <tr>
                <td>
                    <button name='add_step' id='add_step' class='btn btn-default btn-sm'>Add Step</button>
                </td>
                <td>
                    <button name='delete_step' id='delete_step' class='btn btn-default btn-sm' onclick="deleteStep()">Delete Step</button>
                </td>
                <td>
                    <button name='up_step' id='up_step' class='btn btn-default btn-sm' onclick="moveStep('up')" disabled="true">Up</button>
                </td>
                <td>
                    <button name='down_step' id='down_step' class='btn btn-default btn-sm' onclick="moveStep('down')" disabled="true">Down</button>
                </td>
            </tr>
        </table>
        <div class='case_table_no' style='width:100%'>
        </div>
	</div>
</div>
{% endif %}