{% if cases %}
<div class="panel panel-default" id="fullHeight">
    <div class="panel-heading">
        Cases
        <div class="btn-group pull-right">
            <button type="button" class="caseHideShow btn btn-default btn-xs dropdown-toggle" onclick='caseHideShow()' data-mode="show">
                <i class="fa fa-chevron-down"></i>
            </button>
        </div>
        <div class="input-group pull-right">
            <input type="text" name="caseSearch" class="form-control" onchange="caseSearch()" placeholder="Search..." id="btn-input">
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-case" id="elementBody">
        <div class='caseList'>
            {% for k in cases%}
                <div class='elementOfCaseList' data-dbid='case{{k[0]}}' id="dragCase{{k[0]}}" draggable="true" ondragstart="drag(event)" ondragover="dragHover(event)">
                    <a href='#' data-dbid='{{k[0]}}' id='{{k[0]}}' class='case'>{{k[1]}}</a>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- /.panel-body -->
    <div class="panel-footer">
        <div class="input-group">
        </div>
    </div>
    <!-- /.panel-footer -->
</div>
{% endif %}


{% if caseForm %}
<div class='case_header'>
    <table class='editablecase' data-dbid='newCase' id="fullWidth">
        <tr>
            <th>Name:</th>
            <th>
                <input type='text' name='title' class='form-control' value='Name'  readonly='true'>
            </th>
        </tr>
        <tr>
            <th>Priority:</th>
            <th>
                <input type='number' name='priority' class='form-control' value='1' readonly='true'>
            </th>
        </tr>
        <tr>
            <th>Data:</th>
            <th>
                <input type='text' name='data' class='form-control' value='Description' readonly='true'>
            </th>
        </tr>
    </table>
    <div class='AreaField' id="fullWidth">
        <h3>Tags: </h3>
        <table id="fullWidth">
            {% for k in caseForm %}
                {% if loop.index == 1 %}
                    <tr>
                {% endif %}
                        <td id="td-20">
                            <input type="checkbox" disabled="disabled" name="areaBox" data-dbid='{{k[0]}}'>{{k[1]}}
                            {% if k[3] == 1 %}
                            <input type="text" disabled="disabled" class='form-control' name="dynamicArea" data-dbid='{{k[0]}}' style="width:50px;display: inherit;height:25px;" value="..">
                            {% endif %}
                        </td>
                {% if (loop.index%5 == 0) and (loop.index!=count) %}
                    </tr>
                    <tr>
                {% endif %}
                {% if (loop.index%5 == 0) and (loop.index==count) %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="Files" id="fullWidth">
        <div class="uploadHeader" id="fullWidth">
            <h3>
                <a href="#" onclick="toggleCaseFileCont()" id="no-dec-link">
                    Files: 
                </a>
            </h3>
        </div>
        <div class="uploadContent" style='widt:100%;display: none;'>
            <div style="width:100%;min-height:75px">
                <div style="width:50%; float:left;" class="fileContainer">
                    <form class="form-group" data-formid='newCaseFile'  method="post" enctype="multipart/form-data" id="fullWidth">
                        Select file to upload:
                        <input type="file" name="fileToUpload" id="fileUploadCase" multiple>
                    </form>
                </div>
                <div style="width:50%; float:left;">
                    <table class="caseFiles" id="fullWidth">
                    </table>
                </div>
            </div>
            <div class="imgFiles" style="width:100%;" id="img"></div>
        </div>
    </div>
    <div id="stepContainer">
        <table>
            <tr>
                <td>
                    <button name='add_step' id='add_step' class='btn btn-default btn-sm' disabled="true">Add Step</button>
                </td>
                <td>
                    <button name='delete_step' id='delete_step' class='btn btn-default btn-sm' disabled="true" onclick="deleteStep()">Delete Step</button>
                </td>
                <td>
                    <button name='up_step' id='up_step' class='btn btn-default btn-sm' disabled="true" onclick="moveStep('up')">Up</button>
                </td>
                <td>
                    <button name='down_step' id='down_step' class='btn btn-default btn-sm' disabled="true" onclick="moveStep('down')">Down</button>
                </td>
            </tr>
        </table>
        <div class='case_table_no' id="fullWidth">
            <table id="fullWidth">
                <tr>
                    <th>#</th>
                    <th id='td-49'>Action</th>
                    <th id='td-49'>Result</th>
                    <th></th>
                </tr>
            </table>
            <div class='newStepPlace' ondrop='drop(event)' ondragover='allowDrop(event)'>
                <div class="stepDragg" draggable="true" ondragstart="drag(event)" ondragover="dragHover(event)">
                    <div id="fullWidth">
                        <table id="fullWidth">
                            <tr id="fullWidth">
                                <td><a href='#' data-dbid='' id='' class='step' onclick='selectStep(event)'>#</a><td>
                                <td id="halfWidth-1">
                                    <textarea name='action[]' class="action form-control" rows="1" overflow="auto" disabled="disabled">Action description</textarea>
                                </td>
                                <td id="halfWidth-1">
                                    <textarea name='result[]' class="result form-control" rows="1" overflow="hidden" disabled="disabled">Result description</textarea>
                                </td>
                                <td>
                                    <a href='#' data-dbid='' id='' class='step' onclick="removeStep(event)">
                                        <span class="glyphicon glyphicon-remove" style="color:red;"></span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--
                    <div class="uploadContainer">
                        <form class="form-group" data-formid='newStepActionFile'  method="post" enctype="multipart/form-data" id="fullSize" onchange="loadFiles(event,'action')">
                            <input type="file" name="fileToUploadStepAction" id="fileUploadStepAction" multiple>
                        <ul></ul>
                        </form>
                    </div>
                    <div class="uploadContainer">
                        <form class="form-group" data-formid='newStepResultFile'  method="post" enctype="multipart/form-data" id="fullSize" onchange="loadFiles(event,'result')">
                            <input type="file" name="fileToUploadStepResult" id="fileUploadStepResult" multiple>
                        <ul></ul>
                        </form>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if loadcase %}
	<a name='edit_case' id='{{loadcase[0][0]}}' class='btn btn-default btn-sm' href='#' role='button'>Edit</a>
	<a name='deleteCase' id='{{loadcase[0][0]}}' class='btn btn-danger btn-sm' href='#' role='button'>Delete</a>
	<br>
	<div class='case_header'>
		<table id="fullWidth">
			<tr>
				<td>Name:</td>
				<td>
					{% for k in loadcase%}
					<span id='{{k[0]}}' class='case'>{{k[1]}}</span>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Priority:</td>
				<td>
					{% for k in loadcase%}
						<span id='{{k[0]}}' class='case'>{{k[2]}}</span>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Data:</td>
				<td>
					{% for k in loadcase%}
						<span id='{{k[0]}}' class='case'>{{k[3]}}</span>
					{% endfor %}
				</td>
			</tr>
		</table>
    <div class='AreaField' id="fullWidth">
        <h3>Tags: </h3>
        <table>
            {% for k in areas %}
                {% if loop.index == 1 %}
                    <tr>
                {% endif %}
                        <td id="td-20">
                            {% if k[1] == "checked" %}
                            <input type="checkbox" disabled="disabled" name="areaBox" data-dbid='{{k[0][0]}}' checked>{{k[0][1]}} 
                                {% if k[2] != None %}
                                <u>{{k[2]}}</u>
                                {% endif %}
                            {% else %}
                            <input type="checkbox" disabled="disabled" name="areaBox" data-dbid='{{k[0][0]}}'>{{k[0][1]}}
                                {% if k[2] != None %}
                                <u>{{k[2]}}</u>
                                {% endif %}
                            {% endif %}
                        </td>
                {% if (loop.index%5 == 0) and (loop.index!=count) %}
                    </tr>
                    <tr>
                {% endif %}
                {% if (loop.index%5 == 0) and (loop.index==count) %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="Files" id="fullWidth">
        <div class="uploadHeader" id="fullWidth">
            <h3>
                <a href="#" onclick="toggleCaseFileCont()" id="no-dec-link">
                    Files: 
                </a>
            </h3>
        </div>
        <div class="uploadContent">
            <div style="min-height:70px;" id="fullWidth">
                <div id="cont-50-left">
                    <form class="form-group" data-formid='newCaseFile'  method="post" enctype="multipart/form-data"id="fullWidth">
                        Select file to upload:
                        <input type="file" name="fileToUpload" id="fileUploadCase" multiple>
                        <button class="btn btn-default btn-xs" type="button" onclick="updateFilesToCase({{loadcase[0][0]}})" id="cont-50-left">Upload</button>
                    </form>
                </div>
                <div id="cont-50-right" class="fileContainer">
                    <table class="caseFiles" id="fullWidth">
                        {% if files != "empty" %}
                        {% for k in files %}
                            <tr data-fileid='{{k[0]}}'>
                                <td>
                                    <a href="{{ url_for('uploads',filename='case/'+k[3]) }}" download>
                                        {% if k[4] == "txt" or k[4] == "pdf" or k[4] == "log" or k[4] == "doc" or k[4] == "docx" or k[4] == "xls" or k[4] == "xlsx" or k[4] == "csv" or k[4] == "xlt" %}
                                        <span class="glyphicon glyphicon-file"></span>
                                        {% elif k[4] == "jpg" or k[4] == "jpeg" or k[4] == "png" or k[4] == "JPG" or k[4] == "JPEG" or k[4] == "PNG" %}
                                        <span class="glyphicon glyphicon-picture"></span>
                                        {% elif k[4] == "avi" or k[4] == "mp4" %}
                                        <span class="glyphicon glyphicon-film"></span>
                                        {% else %}
                                        <span class="glyphicon glyphicon-cog"></span>
                                        {% endif %}
                                    </a>
                                    <!--</button>-->
                                </td>
                                <td>
                                    {{k[3]}}
                                </td>
                                <td>
                                    <a href="#" onclick="deleteFileCase({{k[0]}})" style="color:red;">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="imgFiles">
                {% for k in files %}
                {% if k[4] == "jpg" or k[4] == "jpeg" or k[4] == "png" or k[4] == "JPG" or k[4] == "JPEG" or k[4] == "PNG" %}
                    <div class="responsive" data-fileid='{{k[0]}}' id="img">
                      <div class="img">
                        <a target="_blank" href="{{ url_for('uploads',filename='case/'+k[3]) }}" download>
                          <img src="{{ url_for('uploads',filename='case/'+k[3]) }}" width="300" height="200">
                        </a>
                        <div class="desc">{{k[3]}} 
                            <a href="#" onclick="deleteFileCase({{k[0]}})" style="color:red;">
                                    <span class="glyphicon glyphicon-remove"></span>
                            </a>
                          </div>
                      </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
	<div class='stepBtn'></div>
	<div id="stepContainer">
        
    </div>
</div>
{% endif %}

{% if editablecase %}
<div class='case_header'>
	<table class='editablecase' data-dbid='{{editablecase[0][0]}}' id="fullWidth">
		<tr>
			<th>Title:</th>
			<th><input type='text' name='title' value='{{editablecase[0][1]}}' class='form-control' id='{{editablecase[0][0]}}'></th>
		</tr>
		<tr>
			<th>Priority:</th>
			<th><input type='number' name='priority' value='{{editablecase[0][2]}}' class='form-control'></th>
		</tr>
		<tr>
			<th>Data:</th>
			<th><input type='text' name='data' value='{{editablecase[0][3]}}' class='form-control'></th>
		</tr>
	</table>
    <div class='AreaField' id="fullWidth">
        <h3>Tags: </h3>
        <table>
            {% for k in areas %}
                {% if loop.index == 1 %}
                    <tr>
                {% endif %}
                        <td id="td-20">
                            {% if k[1] == "checked" %}
                            <input type="checkbox" name="areaBox" data-dbid='{{k[0][0]}}' checked>{{k[0][1]}}
                                {% for l in dynArea %}
                                    {% if l[0]==k[0][0] %}
                                        {% if k[2] != None %}
                            <input type="text" class='form-control' name="dynamicArea" data-dbid='{{k[0]}}' style="width:50px;display: inherit;height:25px;" value="{{k[2]}}">
                                        {% else %}
                            <input type="text" class='form-control' name="dynamicArea" data-dbid='{{k[0]}}' style="width:50px;display: inherit;height:25px;" value="...">
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                            <input type="checkbox" name="areaBox" data-dbid='{{k[0][0]}}'>{{k[0][1]}}
                                {% for l in dynArea %}
                                    {% if l[0]==k[0][0] %}
                                        {% if k[2] != None %}
                            <input type="text" class='form-control' name="dynamicArea" data-dbid='{{k[0]}}' style="width:50px;display: inherit;height:25px;" value="{{k[2]}}">
                                        {% else %}
                            <input type="text" class='form-control' name="dynamicArea" data-dbid='{{k[0]}}' style="width:50px;display: inherit;height:25px;" value="...">
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                {% if (loop.index%5 == 0) and (loop.index!=count) %}
                    </tr>
                    <tr>
                {% endif %}
                {% if (loop.index%5 == 0) and (loop.index==count) %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="FileUpload" id="fullWidth">
        <div class="uploadHeader" id="fullWidth">
            <h3>
                <a href="#" onclick="toggleCaseFileCont()" id="no-dec-link">
                    Files: 
                </a>
            </h3>
        </div>
        <div class="uploadContent">
            <div style="width:100%;min-height:75px;float:left;">
                <div id="fullWidth">
                    <form class="form-group" data-formid='newCaseFile'  method="post" enctype="multipart/form-data" id="fullWidth">
                        Select file to upload:
                        <input type="file" name="fileToUpload" id="fileUploadCase" multiple>
                    </form>
                </div>
                <div id="cont-50-left" class="fileContainer">
                    <table class="caseFiles" id="fullWidth">
                        {% if files != "empty" %}
                        {% for k in files %}
                            <tr data-fileid='{{k[0]}}'>
                                <td>
                                    <a href="{{ url_for('uploads',filename='case/'+k[3]) }}" download>
                                        {% if k[4] == "txt" or k[4] == "pdf" or k[4] == "log" or k[4] == "doc" or k[4] == "docx" or k[4] == "xls" or k[4] == "xlsx" or k[4] == "csv" or k[4] == "xlt" %}
                                        <span class="glyphicon glyphicon-file"></span>
                                        {% elif k[4] == "jpg" or k[4] == "jpeg" or k[4] == "png" %}
                                        <span class="glyphicon glyphicon-picture"></span>
                                        {% elif k[4] == "avi" or k[4] == "mp4" %}
                                        <span class="glyphicon glyphicon-film"></span>
                                        {% else %}
                                        <span class="glyphicon glyphicon-cog"></span>
                                        {% endif %}
                                    </a>
                                    <!--</button>-->
                                </td>
                                <td>
                                    {{k[3]}}
                                </td>
                                <td>
                                    <a href="#" onclick="deleteFileCase({{k[0]}})" style="color:red;">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="imgFiles" id="fullWidth">
                {% for k in files %}
                {% if k[4] == "jpg" or k[4] == "jpeg" or k[4] == "png" %}
                    <div class="responsive" data-fileid='{{k[0]}}' id="img">
                      <div class="img">
                        <a target="_blank" href="{{ url_for('uploads',filename='case/'+k[3]) }}" download>
                          <img src="{{ url_for('uploads',filename='case/'+k[3]) }}" width="300" height="200">
                        </a>
                        <div class="desc">{{k[3]}} 
                            <a href="#" onclick="deleteFileCase({{k[0]}})" style="color:red;">
                                    <span class="glyphicon glyphicon-remove"></span>
                            </a>
                          </div>
                      </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
	<div id="stepContainer">
        <table>
            <tr>
                <td>
                    <button name='add_step' id='add_step' class='btn btn-default btn-sm'>Add Step</button>
                </td>
                <td>
                    <button name='delete_step' id='delete_step' class='btn btn-default btn-sm' onclick="deleteStep()">Delete Step</button>
                </td>
                <td>
                    <button name='up_step' id='up_step' class='btn btn-default btn-sm' onclick="moveStep('up')" disabled="true">Up</button>
                </td>
                <td>
                    <button name='down_step' id='down_step' class='btn btn-default btn-sm' onclick="moveStep('down')" disabled="true">Down</button>
                </td>
            </tr>
        </table>
        <div class='case_table_no' id="fullWidth">
        </div>
	</div>
</div>
{% endif %}