<div class='panel panel-default' style='height:500px;'>
  <!-- Default panel contents -->
  <div class='panel-heading'>Chart Filter</div>
  <div class='panel-body'>
    <p style="color:black;">Dynamic chart generation for a fancy dashboard.</p>
  </div>

  <!-- Table -->
    {% if type %}
  <table class='{{type}} table'>
    <tr>
		<td style="color:black;">Interval: <td>
		<td>
			<select class='{{type}} form-control' data-selectorid='{{type}}Interval' onchange="{{type}}Reload('{{type}}')" style='width:100%;'>
				<option data-interval='All'>All</option>
				<option data-interval='LTW'>Last Two Weeks</option>
				<option data-interval='LS'>Last Sprint</option>
			</select>
		<td>
	</tr>
	<tr>
		<td style="color:black;">Version: <td>
		<td>
			<select class='form-control' data-selectorid='{{type}}Version' onchange="{{type}}Reload('{{type}}')" style='width:100%;'>
				<option data-dbid='0'>All</option>
                {% for k in data %}
				<option data-dbid='{{k[0]}}'>{{k[6]}} {{k[1]}}</option>
                {% endfor %}
			</select>
		<td>
	</tr>
    <tr>
		<td style="color:black;">Area: <td>
		<td>
			<select class='form-control' data-selectorid='{{type}}Area' onchange="{{type}}Reload('{{type}}')" style='width:100%;'>
				<option data-dbid='0'>All</option>
				<option data-dbid='0'>Show Stopper</option>
				<option data-dbid='0'>Global Area</option>
				<option data-dbid='0'>Deployment Issues</option>
				<option data-dbid='0'>DB Query</option>
			</select>
		<td>
	</tr>
	<tr>
		<td style="color:black;">Status: <td>
		<td>
			<select class='form-control' data-selectorid='{{type}}Status' onchange="{{type}}Reload('{{type}}')" style='width:100%;'>
				<option data-status='All'>All</option>
				<option data-status='RUN'>Passed</option>
				<option data-status='FAILED'>Failed</option>
				<option data-status='NOTRUN'>Not Run</option>
				<option data-status='NOTIMP'>Not Implemented</option>
			</select>
		<td>
	</tr>
  </table>
    {% endif %}
</div>