<div class='panel panel-default' style='height:500px;'>
  <!-- Default panel contents -->
  <div class='panel-heading'>Chart Filter</div>
  <div class='panel-body'>
    <p style="color:black;">Dynamic chart generation for a fancy dashboard.</p>
  </div>

  <!-- Table -->
  <table class='table'>
    <tr>
		<td style="color:black;">Interval: <td>
		<td>
			<select class='form-control' style='width:100%;'>
				<option>All</option>
				<option>Last Two Weeks</option>
				<option>Last Sprint</option>
			</select>
		<td>
	</tr>
	<tr>
		<td style="color:black;">Version: <td>
		<td>
			<select class='form-control' style='width:100%;'>
				<option>All</option>
				<option>v666</option>
				<option>v671</option>
				<option>v698</option>
			</select>
		<td>
	</tr>
	<tr>
		<td style="color:black;">Status: <td>
		<td>
			<select class='form-control' style='width:100%;'>
				<option>All</option>
				<option>Passed</option>
				<option>Failed</option>
				<option>Not Run</option>
				<option>Not Implemented</option>
			</select>
		<td>
	</tr>
  </table>
</div>