{% if execution %}
<div class="panel panel-default" id="fullHeight">
    <div class="panel-heading">
        Executions
        <div class="btn-group pull-right">
            <button type="button" class="exeHideShow btn btn-default btn-xs dropdown-toggle" onclick='exeHideShow()' data-mode="show">
                <i class="fa fa-chevron-down"></i>
            </button>
        </div>
        <div class="input-group pull-right">
            <input type="text" name="exeSearch" class="form-control" onchange="exeSearch()" placeholder="Search..." id="btn-input">
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-execution" id="elementBody">
        <div class='exeList'>
            {% for k in execution %}
            <div class='elementOfExeList' data-dbid='exe{{k[0]}}'>
                <a href='#' class='execution' data-dbid='{{k[0]}}' id='{{k[0]}}'>{{k[1]}} ({{k[3]}})</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- /.panel-body -->
    <div class="panel-footer">
        <div class="input-group">
        </div>
    </div>
    <!-- /.panel-footer -->
</div>
{% endif %}

{% if newExe %}
<div class='exeHeader'  data-dbid='newExecution' id="fullHeight">
	<table style='width:100%'>
		<tr>
			<th>Name:</th>
			<th><input type='text' name='title' class='form-control' value='Name' readonly></th>
		</tr>
		<tr>
			<th>Date:</th>
			<th><input type='date' name='date' class='form-control' readonly></th>
		</tr>
		<tr>
			<th>Test Object:</th>
			<th class='objectDD'>
				<select class='objectSeletor form-control' disabled="true">
					{% for l in newExe %}
						<option data-dbid='{{l[0]}}' value='{{l[1]}}'>{{l[1]}}</option>
					{% endfor %}
				</select>
			</th>
		</tr>
	</table>
    <div class='AreaField' style='width:100%;'>
        <h2>Tags: </h2>
        <table>
            {% for k in areas %}
                {% if loop.index == 1 %}
                    <tr>
                {% endif %}
                        <td>
                            <input type="checkbox" disabled="disabled" name="areaBox" data-dbid='{{k[0]}}'>
                        </td>
                        <td>{{k[1]}}</td>
                        <td style="width:5px;"></td>
                {% if (loop.index%5 == 0) and (loop.index!=count) %}
                    </tr>
                    <tr>
                {% endif %}
                {% if (loop.index%5 == 0) and (loop.index==count) %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="Files" style='widt:100%;'>
        <div class="uploadHeader" style='widt:100%;'>
            <h3>
                <a href="#" onclick="toggleExeFileCont()" style="text-decoration: none;">
                    Files: 
                </a>
            </h3>
        </div>
        <div class="uploadContent" style='widt:100%;display: none;'>
            <div style="width:100%;min-height:75px">
                <div style="width:50%; float:left;" class="fileContainer">
                    <form class="form-group" data-formid='newExeFile'  method="post" enctype="multipart/form-data" style="width:100%;">
                        Select file to upload:
                        <input type="file" name="fileToUpload" id="fileUploadExe" multiple>
                    </form>
                </div>
                <div style="width:50%; float:left;">
                    <table class="exeFiles" style="width:100%;">
                    </table>
                </div>
            </div>
            <div class="imgFiles" style="width:100%;"></div>
        </div>
    </div>
    <div class="panel panel-default" id="exeCase">
        <div class="panel-heading">
        Included Cases
        </div>
        <!-- /.panel-heading -->
        <div class="incExeCases panel-body">
        </div>
        <!-- /.panel-body -->
    </div>
</div>
{% endif %}

{% if loadExe %}
<div class='exeHeader'>
	<a name='editExe' data-dbid='{{loadExe[0][0]}}' class='btn btn-default btn-sm' href='#' role='button'>Edit</a>
	<a name='deleteExe' data-dbid='{{loadExe[0][0]}}' class='btn btn-danger btn-sm' href='#' role='button'>Delete</a>
	<br>
	<div style='width:100%'>
		<table style='width:100%'>
			{% for k in loadExe%}
			<tr>
				<td class='exe_staic_name'>Name:</td><td class='exe_staic_input'><input type='text' name='name' value='{{k[1]}}' class='set_input form-control' readonly></td>
			</tr>
			<tr>
				<td>Date:</td><td><input type='date' name='date' class='exe_input form-control' readonly></td>
			</tr>
			{% endfor %}
			<tr>
				<td>Test Object:</td>
				<td class='objectDD'>
					{% if loadObject %}
						<input type='text' name='object' value='{{loadObject[1]}}' class='object form-control' data-dbid='{{loadObject[0]}}' readonly>
					{% endif %}
				</td>
		</tr>
		</table>
	</div>
	<div class='AreaField' style='widt:100%;'>
        <h2>Tags: </h2>
        <table>
            {% for k in areas %}
                {% if loop.index == 1 %}
                    <tr>
                {% endif %}
                        <td>
                            {% if k[1] == "checked" %}
                            <input type="checkbox" disabled="disabled" name="areaBox" data-dbid='{{k[0][0]}}' checked>
                        </td>
                        <td>{{k[0][1]}}</td>
                        <td style="width:5px;"></td>
                            {% else %}
                            <input type="checkbox" disabled="disabled" name="areaBox" data-dbid='{{k[0][0]}}'>
                        </td>
                        <td>{{k[0][1]}}</td>
                        <td style="width:5px;"></td>
                            {% endif %}
                        </td>
                {% if (loop.index%5 == 0) and (loop.index!=count) %}
                    </tr>
                    <tr>
                {% endif %}
                {% if (loop.index%5 == 0) and (loop.index==count) %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="Files" style='width:100%;'>
        <div class="uploadHeader" style='width:100%;'>
            <h3>
                <a href="#" onclick="toggleExeFileCont()" style="text-decoration: none;">
                    Files: 
                </a>
            </h3>
        </div>
        <div class="uploadContent" style='width:100%; min-height:50px;'>
            <div style="width:100%;min-height:70px;">
                <div style="width:50%; float:left;">
                    <form class="form-group" data-formid='newExeFile'  method="post" enctype="multipart/form-data" style="width:100%;">
                        Select file to upload:
                        <input type="file" name="fileToUpload" id="fileUploadExe" multiple>
                        <button class="btn btn-default btn-xs" type="button" onclick="updateFilesToExe({{loadExe[0][0]}})" style="width:50%; float:left;">Upload</button>
                    </form>
                </div>
                <div style="width:50%; float:left;" class="fileContainer">
                    <table class="exeFiles" style="width:100%;">
                        {% if files != "empty" %}
                        {% for k in files %}
                            <tr data-fileid='{{k[0]}}'>
                                <td>
                                    <!--<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg[data-filemodalid='{{k[0]}}']">-->
                                    <a href="{{ url_for('uploads',filename='execution/'+k[3]) }}" download>
                                        {% if k[4] == "txt" or k[4] == "pdf" or k[4] == "log" or k[4] == "doc" or k[4] == "docx" or k[4] == "xls" or k[4] == "xlsx" or k[4] == "csv" or k[4] == "xlt" %}
                                        <span class="glyphicon glyphicon-file"></span>
                                        {% elif k[4] == "jpg" or k[4] == "jpeg" or k[4] == "png" %}
                                        <span class="glyphicon glyphicon-picture"></span>
                                        {% elif k[4] == "avi" or k[4] == "mp4" %}
                                        <span class="glyphicon glyphicon-film"></span>
                                        {% else %}
                                        <span class="glyphicon glyphicon-cog"></span>
                                        {% endif %}
                                    </a>
                                    <!--</button>-->
                                </td>
                                <td>
                                    {{k[3]}}
                                </td>
                                <td>
                                    <a href="#" onclick="deleteFileExe({{k[0]}})" style="color:red;">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="imgFiles" id="fullWidth">
                {% for k in files %}
                {% if k[4] == "jpg" or k[4] == "jpeg" or k[4] == "png" %}
                    <div class="responsive" data-fileid='{{k[0]}}' id="img">
                      <div class="img">
                        <a target="_blank" href="{{ url_for('uploads',filename='execution/'+k[3]) }}" download>
                          <img src="{{ url_for('uploads',filename='execution/'+k[3]) }}" alt="Trolltunga Norway" width="300" height="200">
                        </a>
                        <div class="desc">{{k[3]}} 
                            <a href="#" onclick="deleteFileExe({{k[0]}})" style="color:red;">
                                    <span class="glyphicon glyphicon-remove"></span>
                            </a>
                          </div>
                      </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="exeCase">
            <div class="panel-heading">
            Included Cases
            </div>
            <!-- /.panel-heading -->
            <div class="incCases panel-body" ondrop='drop(event)' ondragover='allowDrop(event)'>
                {% if loadCase %}
                    <table>
                        {% for l in loadCase %}
                        <tr>
                            <td stye="border-right: 1px solid black; padding-right:5px;"> 
                                {{loop.index}}
                            </td>
                            <td>{{l[1]}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
</div>
{% endif %}

{% if loadEditableExe %}
<div class='exeHeader' data-dbid='{{exeId}}'>
	<table style='width:100%'>
		<tr>
			<th>Name:</th>
			<th><input type='text' name='title' class='form-control' value='{{loadEditableExe[0][1]}}'></th>
		</tr>
		<tr>
			<th>Date:</th>
			<th><input type='date' name='date' class='form-control' readonly></th>
		</tr>
		<tr>
			<th>Test Object:</th>
			<th class='objectDD'>
				<select class='objectSeletor form-control'>
						<option data-dbid='{{loadEditableObject[0]}}'>{{loadEditableObject[1]}}</option>
					{% for l in loadObjects %}
						<option data-dbid='{{l[0]}}' value='{{l[1]}}'>{{l[1]}}</option>
					{% endfor %}
				</select>
			</th>
		</tr>
	</table>
    <div class='AreaField' style='width:100%;'>
        <h2>Tags: </h2>
        <table>
            {% for k in areas %}
                {% if loop.index == 1 %}
                    <tr>
                {% endif %}
                        <td>
                            {% if k[1] == "checked" %}
                            <input type="checkbox" name="areaBox" data-dbid='{{k[0][0]}}' checked>
                        </td>
                        <td>{{k[0][1]}}</td>
                        <td style="width:5px;"></td>
                            {% else %}
                            <input type="checkbox" name="areaBox" data-dbid='{{k[0][0]}}'>
                        </td>
                        <td>{{k[0][1]}}</td>
                        <td style="width:5px;"></td>
                            {% endif %}
                        </td>
                {% if (loop.index%3 == 0) and (loop.index!=count) %}
                    </tr>
                    <tr>
                {% endif %}
                {% if (loop.index%3 == 0) and (loop.index==count) %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="FileUpload" style='width:100%;'>
        <div class="uploadHeader" style='width:100%;'>
            <h3>
                <a href="#" onclick="toggleExeFileCont()" style="text-decoration: none;">
                    Files: 
                </a>
            </h3>
        </div>
        <div class="uploadContent" style='width:100%;min-height:50px;'>
            <div style="width:100%;min-height:75px;">
                <div style="width:100%;">
                    <form class="form-group" data-formid='newExeFile'  method="post" enctype="multipart/form-data" style="width:100%;">
                        Select file to upload:
                        <input type="file" name="fileToUpload" id="fileUploadExe" multiple>
                    </form>
                </div>
                <div style="width:50%; float:left;" class="fileContainer">
                    <table class="exeFiles" style="width:100%;">
                        {% if files != "empty" %}
                        {% for k in files %}
                            <tr data-fileid='{{k[0]}}'>
                                <td>
                                    <!--<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg[data-filemodalid='{{k[0]}}']">-->
                                    <a href="{{ url_for('uploads',filename='execution/'+k[3]) }}" download>
                                        {% if k[4] == "txt" or k[4] == "pdf" or k[4] == "log" or k[4] == "doc" or k[4] == "docx" or k[4] == "xls" or k[4] == "xlsx" or k[4] == "csv" or k[4] == "xlt" %}
                                        <span class="glyphicon glyphicon-file"></span>
                                        {% elif k[4] == "jpg" or k[4] == "jpeg" or k[4] == "png" %}
                                        <span class="glyphicon glyphicon-picture"></span>
                                        {% elif k[4] == "avi" or k[4] == "mp4" %}
                                        <span class="glyphicon glyphicon-film"></span>
                                        {% else %}
                                        <span class="glyphicon glyphicon-cog"></span>
                                        {% endif %}
                                    </a>
                                    <!--</button>-->
                                </td>
                                <td>
                                    {{k[3]}}
                                </td>
                                <td>
                                    <a href="#" onclick="deleteFileExe({{k[0]}})" style="color:red;">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="imgFiles" style="width:100%;">
                {% for k in files %}
                {% if k[4] == "jpg" or k[4] == "jpeg" or k[4] == "png" %}
                    <div class="responsive" data-fileid='{{k[0]}}' id="img">
                      <div class="img">
                        <a target="_blank" href="{{ url_for('uploads',filename='execution/'+k[3]) }}" download>
                          <img src="{{ url_for('uploads',filename='execution/'+k[3]) }}" width="300" height="200">
                        </a>
                        <div class="desc">{{k[3]}} 
                            <a href="#" onclick="deleteFileExe({{k[0]}})" style="color:red;">
                                    <span class="glyphicon glyphicon-remove"></span>
                            </a>
                          </div>
                      </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="exeCase">
            <div class="panel-heading">
            Included Cases
            </div>
            <!-- /.panel-heading -->
            <div class="incCases panel-body" ondrop='drop(event)' ondragover='allowDrop(event)'>
                {% if loadEditableCase %}
                    <table>
                        <tr>
                            <th>Case</th><th>Result</th>
                        </tr>
                    </table>
                    {% for l in loadEditableCase %}
                        <div data-dbid='case{{l[0]}}' draggable="true" ondragstart="drag(event)" ondragover="dragHover(event)">
                            <table>
                                <tr>
                                    <td><a href="#" data-dbid='{{l[0]}}' class="case">{{l[1]}}</a></td><td>{{l[5]}}</td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
</div>
{% endif %}