{% if execution %}
<div class='exePageHeader' style="width:100%;">    
    <table style="width:100%;">
        <tr style="width:100%;">
            <td style="width:15%;"><b>Executions</b></td>
            <td style="width:60%;">
                <input type="text" name="exeSearch" class="form-control" onchange="exeSearch()" style="height:25px;">
            </td>
            <td style="width:2%;">
            </td>
            <td style="width:20%;">
                <a href="#" class="exeHideShow" onclick='exeHideShow()' data-mode="show"><span class='glyphicon glyphicon-collapse-up'></span></a>
            </td>
        </tr>
    </table>
</div>
<div class='exeList' style="width:100%;height:100%;overflow-y: auto;">
	{% for k in execution %}
    <div class='elementOfExeList' data-dbid='exe{{k[0]}}'>
		<a href='#' class='execution' data-dbid='{{k[0]}}' id='{{k[0]}}'>{{k[1]}}</a>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if newExe %}
<div class='exeHeader'  data-dbid='newExecution'>
	<table style='width:100%'>
		<tr>
			<th>Name:</th>
			<th><input type='text' name='title' class='form-control' value='Name' readonly></th>
		</tr>
		<tr>
			<th>Date:</th>
			<th><input type='date' name='date' class='form-control' readonly></th>
		</tr>
		<tr>
			<th>Test Object:</th>
			<th class='objectDD'>
				<select class='objectSeletor form-control' disabled="true">
					{% for l in newExe %}
						<option data-dbid='{{l[0]}}' value='{{l[1]}}'>{{l[1]}}</option>
					{% endfor %}
				</select>
			</th>
		</tr>
	</table>
    <div class='AreaField' style='100%'>
        <h2>Areas: </h2>
        <table>
            {% for k in areas %}
                {% if loop.index == 1 %}
                    <tr>
                {% endif %}
                        <td>
                            <input type="checkbox" disabled="disabled" name="areaBox" data-dbid='{{k[0]}}'>
                        </td>
                        <td>{{k[1]}}</td>
                        <td style="width:5px"></td>
                {% if (loop.index%3 == 0) and (loop.index!=count) %}
                    </tr>
                    <tr>
                {% endif %}
                {% if (loop.index%3 == 0) and (loop.index==count) %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
	<p>Included Cases</p>
	<div class='incExeCases' style='height: 300px; background-color: #777; border-radius: 10px; box-shadow: 0px 0px 5px #7f8c8d;'>
	</div>
</div>
{% endif %}

{% if loadExe %}
<div class='exeHeader'>
	<a name='editExe' data-dbid='{{loadExe[0][0]}}' class='btn btn-default btn-sm' href='#' role='button'>Edit</a>
	<a name='deleteExe' data-dbid='{{loadExe[0][0]}}' class='btn btn-danger btn-sm' href='#' role='button'>Delete</a>
	<br>
	<div style='width:100%'>
		<table style='width:100%'>
			{% for k in loadExe%}
			<tr>
				<td class='exe_staic_name'>Name:</td><td class='exe_staic_input'><input type='text' name='name' value='{{k[1]}}' class='set_input form-control' readonly></td>
			</tr>
			<tr>
				<td>Date:</td><td><input type='date' name='date' class='exe_input form-control' readonly></td>
			</tr>
			{% endfor %}
			<tr>
				<td>Test Object:</td>
				<td class='objectDD'>
					{% if loadObject %}
						<input type='text' name='object' value='{{loadObject[1]}}' class='object form-control' data-dbid='{{loadObject[0]}}' readonly>
					{% endif %}
				</td>
		</tr>
		</table>
	</div>
	<div class='AreaField' style='100%'>
        <h2>Areas: </h2>
        <table>
            {% for k in areas %}
                {% if loop.index == 1 %}
                    <tr>
                {% endif %}
                        <td>
                            {% if k[1] == "checked" %}
                            <input type="checkbox" disabled="disabled" name="areaBox" data-dbid='{{k[0][0]}}' checked>
                        </td>
                        <td>{{k[0][1]}}</td>
                        <td style="width:5px"></td>
                            {% else %}
                            <input type="checkbox" disabled="disabled" name="areaBox" data-dbid='{{k[0][0]}}'>
                        </td>
                        <td>{{k[0][1]}}</td>
                        <td style="width:5px"></td>
                            {% endif %}
                        </td>
                {% if (loop.index%3 == 0) and (loop.index!=count) %}
                    </tr>
                    <tr>
                {% endif %}
                {% if (loop.index%3 == 0) and (loop.index==count) %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
	<p>Included Cases</p>
	<div class='incCases' style='height: 300px; background-color: #777; border-radius: 10px; box-shadow: 0px 0px 5px #7f8c8d;'>
	{% if loadCase %}
		<table>
			<tr>
				<th>Case</th><th>Result</th>
			</tr>
			{% for l in loadCase %}
			<tr>
				<th>{{l[1]}}</th><th>{{l[5]}}</th>
			</tr>
			{% endfor %}
		</table>
	{% endif %}
	</div>
</div>
{% endif %}

{% if loadEditableExe %}
<div class='exeHeader' data-dbid='{{exeId}}'>
	<table style='width:100%'>
		<tr>
			<th>Name:</th>
			<th><input type='text' name='title' class='form-control' value='{{loadEditableExe[0][1]}}'></th>
		</tr>
		<tr>
			<th>Date:</th>
			<th><input type='date' name='date' class='form-control' readonly></th>
		</tr>
		<tr>
			<th>Test Object:</th>
			<th class='objectDD'>
				<select class='objectSeletor form-control'>
						<option data-dbid='{{loadEditableObject[0]}}'>{{loadEditableObject[1]}}</option>
					{% for l in loadObjects %}
						<option data-dbid='{{l[0]}}' value='{{l[1]}}'>{{l[1]}}</option>
					{% endfor %}
				</select>
			</th>
		</tr>
	</table>
    <div class='AreaField' style='100%'>
        <h2>Areas: </h2>
        <table>
            {% for k in areas %}
                {% if loop.index == 1 %}
                    <tr>
                {% endif %}
                        <td>
                            {% if k[1] == "checked" %}
                            <input type="checkbox" name="areaBox" data-dbid='{{k[0][0]}}' checked>
                        </td>
                        <td>{{k[0][1]}}</td>
                        <td style="width:5px"></td>
                            {% else %}
                            <input type="checkbox" name="areaBox" data-dbid='{{k[0][0]}}'>
                        </td>
                        <td>{{k[0][1]}}</td>
                        <td style="width:5px"></td>
                            {% endif %}
                        </td>
                {% if (loop.index%3 == 0) and (loop.index!=count) %}
                    </tr>
                    <tr>
                {% endif %}
                {% if (loop.index%3 == 0) and (loop.index==count) %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
	<p>Included Cases</p>
	<div class='incExeCases' ondrop='drop(event)' ondragover='allowDrop(event)' style='height: 300px; background-color: #777; border-radius: 10px; box-shadow: 0px 0px 5px #7f8c8d;'>
	{% if loadEditableCase %}
		<table>
			<tr>
				<th>Case</th><th>Result</th>
			</tr>
		</table>
		{% for l in loadEditableCase %}
			<div data-dbid='case{{l[0]}}' draggable="true" ondragstart="drag(event)" ondragover="dragHover(event)">
				<table>
					<tr>
						<td><a href="#" data-dbid='{{l[0]}}' class="case">{{l[1]}}</a></td><td>{{l[5]}}</td>
					</tr>
				</table>
			</div>
		{% endfor %}
	{% endif %}
	</div>
</div>
{% endif %}