<!DOCTYPE html>
<html lang="en" class="heightFull">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="CAE Engineering">

    <title>Rob</title>

    <!-- Bootstrap Core CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='js/bootstrap.js') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='js/bootstrap.min.js') }}" rel="stylesheet">
	
	<link href="{{ url_for('static', filename='css/other.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/box.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/slideIcon.css') }}" rel="stylesheet">
	
	<script type='text/javascript' src="{{ url_for('static', filename='jquery-2.1.4.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='script1.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='setup.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='mouse_on_header.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='add_case.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='case_template_scripts.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='add_set.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='set_template_scripts.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='add_execution.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='execution_template_scripts.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='object_template_script.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='add_object.js') }}"></script>
	
	<script type='text/javascript' src="{{ url_for('static', filename='test_template_scripts.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='test.js') }}"></script>
	
	<script type='text/javascript' src="{{ url_for('static', filename='report.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='report_template_scripts.js') }}"></script>
	
	<script type='text/javascript' src="{{ url_for('static', filename='dragndrop.js') }}"></script>
	
	<script type='text/javascript' src="{{ url_for('static', filename='add_chart.js') }}"></script>
	
	<script type="text/javascript" src="{{ url_for('static', filename='dashboard_control.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='dashboard_template.js') }}"></script>
	{% if user == "admin" %}
    <script type="text/javascript" src="{{ url_for('static', filename='admin.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='projectManaging.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='databaseManaging.js') }}"></script>
    {% endif %}
	<!-- Canvas -->
	<script type="text/javascript" src="{{ url_for('static', filename='source/canvasjs.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='canvasjs.min.js') }}"></script>
	
	<div class='canvasHeader'></div>

</head>

<body class="heightFull" style="background-color:#333;color: #eee">

    <!-- Navigation -->
    <nav class="col-md-12 navbar navbar-inverse" role="navigation" id="mainHeader">
        <div class="col-md-12 container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Rob Inc</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav navbar-right">
					<li role="presentation" class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
							Dashboard <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							{% if user %}
							<li><a class='header' id="dashboard" href="#">Dashboard</a></li>
							<li><a class='header' id="reportBlog" href="#">Report Blog</a></li>
							<li><a class='header' href="#">Tarantula Dashboard</a></li>
							<li role="separator" class="divider"></li>
							<li><a class='header' href="#">Jira Board</a></li>
							{% endif %}
						</ul>
					</li>
					<li role="presentation" class="dropdown">
						<a class="dropdown-toggle" id="design" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
							Design <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							{% if user %}
							<li><a class='header' id="design" href="#">Design</a></li>
							<li><a class='header' id="sets" href="#">Sets</a></li>
							<li><a class='header' id="executions" href="#">Executions</a></li>
							<li><a class='header' id="cases" href="#">Cases</a></li>
							<li><a class='header' id="objects" href="#">Objects</a></li>
							<li role="separator" class="divider"></li>
							<li><a class='header' href="#">Separated link</a></li>
							{% endif %}
						</ul>
					</li>
					<li role="presentation" class="dropdown">
						<a class="header" id="test" href="#">Test</a>
					</li>
					<li role="presentation" class="dropdown">
						<a class="dropdown-toggle" id="setup" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
							Setup <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
						  ...
						</ul>
					</li>
					{% if user == "admin" %}
					<li role="presentation" class="dropdown">
						<a class="dropdown-toggle" id="admin" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
							Admin <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
						  {% if user %}
                            <li class="dropdown-header">Admin Settings</li>
							<li><a class='header' id="users" href="#" onclick="userSetup()">Manage Users</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Project Settings</li>
                            <li><a class='header' id="settings" href="#" onclick="projectManagementSetup()">Manage Projects</a></li>
							<li><a class='header' id="tasks" href="#">Manage Tasks</a></li>
                            <li role="separator" class="divider"></li>
							<li><a class='header' id="database" href="#" onclick="databaseManagementSetup()">Manage Database</a></li>
                            <li><a class='header' id="export/import" href="#">Export/Import</a></li>
							{% endif %}
						</ul>
					</li>
					{% endif %}
                    <li role="presentation" class="dropdown">
						<a class="dropdown-toggle" id="design" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
							<span>logged as {% if user %}{{user}}{% endif %}</span><span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							{% if user %}
							<li><a class='header' id="profile" href="#">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Projects</li>
                            <li role="separator" class="divider"></li>
							<li><a class='header' id="tasks" href="#">Tasks</a></li>
							{% endif %}
						</ul>
					</li>
                    <li style='padding-top:10px;padding-bottom:10px;'>
                        <select class="projectSelector form-control" style='width:100%;'>
                        {% for k in Projects %}
                            {% if k[0] == selectedProject %}
                            <option data-dbid='{{k[0]}}' selected="selected">{{k[1]}}</option>
                            {% else %}
                                <option data-dbid='{{k[0]}}'>{{k[1]}}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </li>
                    <li>
						<a href="#" id="logout">Logout</a>
                    </li>					
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="col-md-12 container" style="height: calc(100% - 60px);">
        <!-- Features Section -->
        <div class="row heightFull">
            <div class="setup_buttons col-md-12" style='margin-bottom:15px;'>
			</div>
			<div class="search_form_place">
			</div>
			<div class="setup col-md-3 heightFull">
				<div class="col-md-12-set">
					
				</div>
				<div class="col-md-12-case">
					
				</div>
				<div class="col-md-12-execution">
					
				</div>
				<div class="col-md-12-object">
					
				</div>
            </div>
            <div class="col-md-9" id="col-md-9" style='color: #eee; overflow-y:auto;' ><!---overflow-y:scroll;-->
				<div class='new_form'>
				</div>
            </div>
			<div class="col-md-3">
			</div>
        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; CAE Engineering</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>
