<div class='panel panel-default' style="height:50px;">
    <!-- Default panel contents -->
        <table class='jenkinsFilter table'>
            <tr>
                <td id="filterTd-14">Interval: <td>
                <td id="filterTd-3">
                    <select class='jenkinsFilter form-control' data-selectorid='jenkins' onchange="jenkinsReload()">
                        <option data-interval='100'>All</option>
                        <option data-interval='5'>Last 5 Result</option>
                        <option data-interval='10'>Last 10 Result</option>
                        <option data-interval='20'>Last 20 Result</option>
                        <option data-interval='30' selected>Last 30 Result</option>
                        <option data-interval='40'>Last 40 Result</option>
                        <option data-interval='50'>Last 50 Result</option>
                    </select>
                </td>
                <td id="filterTd-14">Passed: </td>
                <td id="filterTd-14"><input type="checkbox" name="passed" onchange="jenkinsHide('passed')"></td>
                <td id="filterTd-14">Failed: </td>
                <td id="filterTd-14"><input type="checkbox" name="failed" onchange="jenkinsHide('failed')"></td>
                <td id="filterTd-14">Skipped: </td>
                <td id="filterTd-14"><input type="checkbox" name="skipped" onchange="jenkinsHide('skipped')"></td>
            </tr>
        </table>
</div>