{% if jenkins %}
<div class='container' id="jenkinsContainer">
    <!--- A dolgok helye... -->
	<div id='success'>
		<a href="#" onclick="onClick1()">
			<div class="alert alert-success" id="jenkinsContainer">
				<table id="td-100">
					<tr id="td-100">
						<td id="td-20">version </td>
						<td id="td-40">set </td>
						<td id="td-40">area </td>
					</tr>
				</table>
			</div>
		</a>
		<div class="description" id="success">
			<p>Reported by: tester</p>
			<table class="table table-condensed">
				<tr>
					<th>#</th>
					<th>Case Title</th>
					<th>Description</th>
					<th>Comment</th>
					<th>Attached Files</th>
				</tr>
				<tr class="success">
					<td>1</td>
					<td>First Case for reprezentation</td>
					<td>Case description</td>
					<td>User added comment</td>
					<td>Attached log/image</td>
				</tr>
			</table>
		</div>
		<script>
			function onClick1(){
				if($(".description#success").is(":visible")){
					$(".description#success").hide();
				}
				else{
					$(".description#success").show();
				}
			}
			$(function(){
				$(".description#success").hide();
			})
		</script>
	</div>
	<div class="info">
		<a href="#" onclick="onClick2()">
			<div class="alert alert-info" id="jenkinsContainer">
				<table id="td-100">
					<tr id="td-100">
						<td id="td-20">version </td>
						<td id="td-40">set </td>
						<td id="td-40">area </td>
					</tr>
				</table>
			</div>
		</a>
		<div class="description" id="info">
			<p>Reported by: tester</p>
			<table class="table table-condensed">
				<tr>
					<th>#</th>
					<th>Case Title</th>
					<th>Description</th>
					<th>Comment</th>
					<th>Attached Files</th>
				</tr>
				<tr class="info" style="color:black;">
					<td>1</td>
					<td>First Case for reprezentation</td>
					<td>Case description</td>
					<td>User added comment</td>
					<td>Attached log/image</td>
				</tr>
			</table>
		</div>
		<script>
			function onClick2(){
				if($(".description#info").is(":visible")){
					$(".description#info").hide();
				}
				else{
					$(".description#info").show();
				}
			}
			$(function(){
				$(".description#info").hide();
			})
		</script>
	</div>
	<div class="warning">
		<a href="#" onclick="onClick3()">
			<div class="alert alert-warning" id="jenkinsContainer">
				<table id="td-100">
					<tr id="td-100">
						<td id="td-20">version </td>
						<td id="td-40">set </td>
						<td id="td-40">area </td>
					</tr>
				</table>
			</div>
		</a>
		<div class="description" id="warning">
			<p>Reported by: tester</p>
			<table class="table table-condensed">
				<tr>
					<th>#</th>
					<th>Case Title</th>
					<th>Description</th>
					<th>Comment</th>
					<th>Attached Files</th>
				</tr>
				<tr class="warning">
					<td>1</td>
					<td>First Case for reprezentation</td>
					<td>Case description</td>
					<td>User added comment</td>
					<td>Attached log/image</td>
				</tr>
			</table>
		</div>
		<script>
			function onClick3(){
				if($(".description#warning").is(":visible")){
					$(".description#warning").hide();
				}
				else{
					$(".description#warning").show();
				}
			}
			$(function(){
				$(".description#warning").hide();
			})
		</script>
	</div>
	<div class="danger">
		<a href="#" onclick="onClick4()">
			<div class="alert alert-danger" id="jenkinsContainer">
				<table id="td-100">
					<tr id="td-100">
						<td id="td-20">version </td>
						<td id="td-40">set </td>
						<td id="td-40">area </td>
					</tr>
				</table>
			</div>
		</a>
		<div class="description" id="danger">
			<p>Reported by: tester</p>
			<table class="table table-condensed">
				<tr>
					<th>#</th>
					<th>Case Title</th>
					<th>Description</th>
					<th>Comment</th>
					<th>Attached Files</th>
				</tr>
				<tr class="danger">
					<td>1</td>
					<td>First Case for reprezentation</td>
					<td>Case description</td>
					<td>User added comment</td>
					<td>Attached log/image</td>
				</tr>
			</table>
		</div>
		<script>
			function onClick4(){
				if($(".description#danger").is(":visible")){
					$(".description#danger").hide();
				}
				else{
					$(".description#danger").show();
				}
			}
			$(function(){
				$(".description#danger").hide();
			})
		</script>
	</div>
</div>
{% endif %}

{% if mode %}
    <div class='{{mode}}'>
		<a href="#" onclick='onClick{{iterator}}()'>
			<div class="alert alert-{{mode}}" id="jenkinsContainer">
				<table id="td-100">
					<tr id="td-100">
						<td id="td-20">{{data[2]}}</td>
						<td id="td-40">{{data[1]}}</td>
                        <td id="td-40"><i>Passed:{{rate[0]}}/{{rate[3]}} ({{(rate[0]/rate[3]*100)|int}}%)</i></td>
					</tr>
				</table>
			</div>
		</a>
		<div class="description" id="{{iterator}}">
			<p>Reported by: tester</p>
			<table class="table table-condensed">
				<tr>
					<th>#</th>
					<th>Case Title</th>
                    <th>Result</thth>
					<th>Comment</th>
					<th>Attached Files</th>
				</tr>
                {% for k in param %}
                    {% if k[1] == "FAILED" %}
				<tr class="danger">
					<td>{{loop.index}}</td>
					<td>{{k[3]}}</td>
                    <td>{{k[1]}}</td>
					<td>User added comment</td>
					<td>Attached log/image</td>
				</tr>
                    {% endif %}
                    {% if k[1] == "NOTRUN" %}
				<tr class="warning">
					<td>{{loop.index}}</td>
					<td>{{k[3]}}</td>
                    <td>{{k[1]}}</td>
					<td>User added comment</td>
					<td>Attached log/image</td>
				</tr>
                    {% endif %}
                    {% if k[1] == "SKIPPED" %}
				<tr class="warning">
					<td>{{loop.index}}</td>
					<td>{{k[3]}}</td>
                    <td>{{k[1]}}</td>
					<td>User added comment</td>
					<td>Attached log/image</td>
				</tr>
                    {% endif %}
                    {% if k[1] == "NOTIMP" %}
				<tr class="info">
					<td>{{loop.index}}</td>
					<td>{{k[3]}}</td>
                    <td>{{k[1]}}</td>
					<td>User added comment</td>
					<td>Attached log/image</td>
				</tr>
                    {% endif %}
                {% endfor %}
			</table>
		</div>
		<script>
			function onClick{{iterator}}(){
				if($(".description#{{iterator}}").is(":visible")){
					$(".description#{{iterator}}").hide();
				}
				else{
					$(".description#{{iterator}}").show();
				}
			}
			$(function(){
				$(".description#{{iterator}}").hide();
			})
		</script>
	</div>
{% endif %}

{% if objectExe %}
    {% if rate[0]/rate[3] >= 0.8 %}
    <div class='success'>
		<a href="#" onclick='onClick{{iterator}}()'>
			<div class="alert alert-success" id="jenkinsContainer">
    {% else %}
        {% if  rate[2]/rate[3] > 0%}
    <div class='danger'>
		<a href="#" onclick='onClick{{iterator}}()'>
			<div class="alert alert-danger" id="jenkinsContainer">
        {% else %}
    <div class='warning'>
		<a href="#" onclick='onClick{{iterator}}()'>
			<div class="alert alert-warning" id="jenkinsContainer">
        {% endif %}
    {% endif %}
				<table id="td-100">
					<tr id="td-100">
						<td id="td-20">{{objectExe[0][2][2]}}</td>
						<td id="td-20">{{objectExe[0][2][1]}}</td>
                        </a>
                        <td id="td-10">
                            {% for k in objectExe %}
                        <a href='#' class='exe{{iterator}} wrapperJenk' id='exe{{k[2][3]}}' data-toggle="popover" data-trigger="focus" data-placement="bottom" onmouseover="onMouseOver{{k[2][3]}}{{iterator}}()" onmouseout="onMouseOut{{k[2][3]}}{{iterator}}()">
                            <span class='slideIcon'></span>
                        </a>
                        {% endfor %}
                        </td>
                        <a href="#" onclick='onClick{{iterator}}()'>
                        <td id="td-10"></td>
                        <td id="td-10">
                            <i>Passed in </i>
                        </td>
                        <td id="td-30">
                            <i>Passed: {{rate[0]}}/{{rate[3]}} ({{(rate[0]/rate[3]*100)|int}}%)</i>
                        </td>
					</tr>
				</table>
			</div>
		</a>
		<div class="description" id="desc{{iterator}}">
			<p>Reported by: tester</p>
			<table class="table table-condensed">
				<tr>
					<th>#</th>
					<th>Case Title</th>
                    <th>Result</th>
					<th>Comment</th>
					<th>Attached Files</th>
				</tr>
                {% for j in objectExe %}
                    {% for k in j[1] %}
                    {% if k[1] == "FAILED" %}
				<tr class="danger">
					<td>{{loop.index}}</td>
					<td>{{k[3]}}</td>
                    <td>{{k[1]}}</td>
					<td>User added comment</td>
					<td>Attached log/image</td>
				</tr>
                    {% endif %}
                    {% if k[1] == "NOTRUN" %}
				<tr class="warning">
					<td>{{loop.index}}</td>
					<td>{{k[3]}}</td>
                    <td>{{k[1]}}</td>
					<td>User added comment</td>
					<td>Attached log/image</td>
				</tr>
                    {% endif %}
                    {% if k[1] == "SKIPPED" %}
				<tr class="warning">
					<td>{{loop.index}}</td>
					<td>{{k[3]}}</td>
                    <td>{{k[1]}}</td>
					<td>User added comment</td>
					<td>Attached log/image</td>
				</tr>
                    {% endif %}
                    {% if k[1] == "NOTIMP" %}
				<tr class="info">
					<td>{{loop.index}}</td>
					<td>{{k[3]}}</td>
                    <td>{{k[1]}}</td>
					<td>User added comment</td>
					<td>Attached log/image</td>
				</tr>
                    {% endif %}
                    {% endfor %}
                {% endfor %}
			</table>
		</div>
		<script>
			function onClick{{iterator}}(){
				if($(".description#desc{{iterator}}").is(":visible")){
					$(".description#desc{{iterator}}").hide();
				}
				else{
					$(".description#desc{{iterator}}").show();
				}   
			}
            {% for k in objectExe %}
            function onMouseOver{{k[2][3]}}{{iterator}}() {
                $(".exe{{iterator}}#exe{{k[2][3]}}").popover({title: "{{k[2][4]}}", content: "Passed: {{k[4][0]}}/{{k[4][3]}} {{(k[4][0]/k[4][3]*100)|int}}% <br>Failed: {{k[4][2]}}/{{k[4][3]}} {{(k[4][2]/k[4][3]*100)|int}}% <br>Skipped: {{k[4][1]}}/{{k[4][3]}} {{(k[4][1]/k[4][3]*100)|int}}% <br>",html:true});
                $(".exe{{iterator}}#exe{{k[2][3]}}").popover('show');
            }
             function onMouseOut{{k[2][3]}}{{iterator}}(){
                 $(".exe{{iterator}}#exe{{k[2][3]}}").popover('hide');
             }
             {% endfor %}
			$(function(){
				$(".description#desc{{iterator}}").hide();
			})
		</script>
	</div>
{% endif %}