{% if jenkins %}
<div class='container' style='width:100%;padding-bottom:0px;'>
	<div class="alert alert-success" style='width:100%;margin-bottom:0px;'>
		<table style='width:100%;'>
			<tr style='width:100%;'>
				<td style='width:20%;'>version </td>
				<td style='width:40%;'>set </td>
				<td style='width:40%;'>area </td>
			</tr>
		</table>
	</div>
	
	<div class="alert alert-info" style='width:100%;margin-bottom:0px;'>
		<table style='width:100%;'>
			<tr style='width:100%;'>
				<td style='width:20%;'>version </td>
				<td style='width:40%;'>set </td>
				<td style='width:40%;'>area </td>
			</tr>
		</table>
	</div>
	<div class="alert alert-warning" style='width:100%;margin-bottom:0px;'>
		<table style='width:100%;'>
			<tr style='width:100%;'>
				<td style='width:20%;'>version </td>
				<td style='width:40%;'>set </td>
				<td style='width:40%;'>area </td>
			</tr>
		</table>
	</div>
	<div class="alert alert-danger" style='width:100%;margin-bottom:0px;'>
		<table style='width:100%;'>
			<tr style='width:100%;'>
				<td style='width:20%;'>version </td>
				<td style='width:40%;'>set </td>
				<td style='width:40%;'>area </td>
			</tr>
		</table>
	</div>
</div>
{% endif %}