<div class='panel panel-default' style="height:50px;">
    <!-- Default panel contents -->
        <table class='jenkinsFilter table'>
            <tr>
                <td style="color:black;padding-top: 14px;">Interval: <td>
                <td>
                    <select class='jenkinsFilter form-control' data-selectorid='jenkins' onchange="jenkinsReload()" style='width:100%;'>
                        <option data-interval='100'>All</option>
                        <option data-interval='5'>Last 5 Result</option>
                        <option data-interval='10'>Last 10 Result</option>
                        <option data-interval='20'>Last 20 Result</option>
                        <option data-interval='30' selected>Last 30 Result</option>
                        <option data-interval='40'>Last 40 Result</option>
                        <option data-interval='50'>Last 50 Result</option>
                    </select>
                <td>
                <td style="color:black;padding-top: 14px;">Passed: </td>
                <td style="padding-top: 14px;"><input type="checkbox" name="passed" onchange="jenkinsReload()"></td>
                <td style="color:black;padding-top: 14px;">Failed: </td>
                <td style="padding-top: 14px;"><input type="checkbox" name="failed" onchange="jenkinsReload()"></td>
                <td style="color:black;padding-top: 14px;">Skipped: </td>
                <td style="padding-top: 14px;"><input type="checkbox" name="skipped" onchange="jenkinsReload()"></td>
            </tr>
        </table>
</div>