{% if object %}
<div class='objectPageHeader' style="width:100%;">    
    <table style="width:100%;">
        <tr style="width:100%;">
            <td style="width:15%;"><b>Objects</b></td>
            <td style="width:60%;">
                <input type="text" name="objectSearch" class="form-control" onchange="objectSearch()" style="height:25px;">
            </td>
            <td style="width:2%;">
            </td>
            <td style="width:20%;">
                <a href="#" class="objectHideShow" onclick='objectHideShow()' data-mode="show"><span class='glyphicon glyphicon-collapse-up'></span></a>
            </td>
        </tr>
    </table>
</div>
<div class='objectList' style="width:100%;height:100%;overflow-y: auto;">
	{% for k in object %}
    <div class='elementOfObjectList' data-dbid='object{{k[0]}}'>
		<a href='#' id={{k[0]}} class='object'>{{k[1]}}</a>
    </div>
	{% endfor %}
</div>
{% endif %}

{% if objectForm %}
<div class='editableObject' data-dbid='newObject' style='width:100%'>
    <table style='width:100%'>
        <tr>
            <td class='object_static_name'>Name:</td>
            <td class='object_static_input'>
                <input type='text' name='name' value='Name' class='object_input form-control' readonly>
            </td>
        </tr>
        <tr>
            <td class='object_static_date'>Date</td>
            <td class='object_static_input'>
                <input type='date' name='date' class='object_input form-control' readonly>
            </td>
        </tr>
        <tr>
            <td class='object_static_hardware'>Hardware:</td>
            <td class='object_static_input'>
                <input type='text' name='hardware' value='Hardware Description' class='object_input form-control' readonly>
            </td>
        </tr>
        <tr>
            <td class='object_static_desc'>Description:</td>
            <td class='object_static_input'>
                <input type='text' name='desc' value='Long Description' class='object_input form-control' readonly>
            </td>
        </tr>
        <tr>
            <td class='object_static_desc'>Version:</td>
            <td class='object_static_input'>
                <input type='text' name='version' value='Version Number' class='object_input form-control' readonly>
            </td>
        </tr>
    </table>
    <div class='AreaField' style='widt:100%;'>
        <h2>Areas: </h2>
        <table>
            {% for k in objectForm %}
                {% if loop.index == 1 %}
                    <tr>
                {% endif %}
                        <td><input type="checkbox" disabled="disabled" name="areaBox" data-dbid='{{k[0]}}'>{{k[1]}}</td>
                {% if (loop.index%5 == 0) and (loop.index!=count) %}
                    </tr>
                    <tr>
                {% endif %}
                {% if (loop.index%5 == 0) and (loop.index==count) %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="Files" style='widt:100%;'>
        <div class="uploadHeader" style='widt:100%;'>
            <h3>
                <a href="#" onclick="toggleObjectFileCont()" style="text-decoration: none;">
                    FileUpload: 
                </a>
            </h3>
        </div>
        <div class="uploadContent" style='widt:100%;display: none;'>
            <div style="width:100%;min-height:75px">
                <div style="width:50%; float:left;">
                    <form class="form-group" data-formid='newObjectFile'  method="post" enctype="multipart/form-data" style="width:100%;">
                        Select file to upload:
                        <input type="file" name="fileToUpload" id="fileUploadObject" multiple>
                    </form>
                </div>
                <div style="width:50%; float:left;">
                    <table class="objectFiles" style="width:100%;">
                    </table>
                </div>
            </div>
            <div class="imgFiles" style="width:100%;"></div>
        </div>
    </div>
</div>
{% endif %}

{% if loadObject %}
	<a href='#' name='editObject' id='{{loadObject[0]}}' class='btn btn-default btn-sm'>Edit</a>
	<a name='deleteObject' id='{{loadObject[0]}}' class='btn btn-danger btn-sm' href='#' role='button'>Delete</a>
	<div style='width:100%'>
		<table style='width:100%'>
				<tr>
					<td class='object_staic_name'>Name:</td>
					<td class='object_staic_input'><input type='text' name='name' value='{{loadObject[1]}}' class='object_input form-control' readonly></td>
				</tr>
				<tr>
					<td class='object_static_date'>Date</td>
					<td class='object_static_input'><input type='date' name='date' class='object_input form-control' readonly></td>
				</tr>
				<tr>
					<td class='object_staic_name'>Hardware:</td>
					<td class='object_staic_input'><input type='text' name='hardware' value='{{loadObject[2]}}' class='object_input form-control' readonly></td>
				</tr>
				<tr>
					<td class='object_staic_name'>Description:</td>
					<td class='object_staic_input'><input type='text' name='desc' value='{{loadObject[3]}}' class='object_input form-control' readonly></td>
				</tr>
                <tr>
					<td class='object_staic_name'>Version:</td>
					<td class='object_staic_input'><input type='text' name='version' value='{{loadObject[6]}}' class='object_input form-control' readonly></td>
				</tr>
		</table>
        <div class='AreaField' style='width:100%'>
            <h2>Areas: </h2>
        <table>
            {% for k in areas %}
                {% if loop.index == 1 %}
                    <tr>
                {% endif %}
                        <td>
                            {% if k[1] == "checked" %}
                            <input type="checkbox" disabled="disabled" name="areaBox" data-dbid='{{k[0][0]}}' checked>{{k[0][1]}}
                            {% else %}
                            <input type="checkbox" disabled="disabled" name="areaBox" data-dbid='{{k[0][0]}}'>{{k[0][1]}}
                            {% endif %}
                        </td>
                {% if (loop.index%3 == 0) and (loop.index!=count) %}
                    </tr>
                    <tr>
                {% endif %}
                {% if (loop.index%3 == 0) and (loop.index==count) %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="Files" style='width:100%;'>
        <div class="uploadHeader" style='width:100%;'>
            <h3>
                <a href="#" onclick="toggleObjectFileCont()" style="text-decoration: none;">
                    FileUpload: 
                </a>
            </h3>
        </div>
        <div class="uploadContent" style='width:100%; min-height:50px;'>
            <div style="width:100%;min-height:70px;">
                <div style="width:50%; float:left;">
                    <form class="form-group" data-formid='newObjectFile'  method="post" enctype="multipart/form-data" style="width:100%;">
                        Select file to upload:
                        <input type="file" name="fileToUpload" id="fileUploadObject" multiple>
                        <button class="btn btn-default btn-xs" type="button" onclick="updateFilesToObject({{loadObject[0]}})" style="width:50%; float:left;">Upload</button>
                    </form>
                </div>
                <div style="width:50%; float:left;">
                    <table class="objectFiles" style="width:100%;">
                        {% if files != "empty" %}
                        {% for k in files %}
                            <tr data-fileid='{{k[0]}}'>
                                <td>
                                    <!--<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg[data-filemodalid='{{k[0]}}']">-->
                                    <a href="{{ url_for('uploads',filename='object/'+k[3]) }}" download>
                                        {% if k[4] == "txt" or k[4] == "pdf" or k[4] == "log" %}
                                        <span class="glyphicon glyphicon-file"></span>

                                        <!--<span class="glyphicon glyphicon-picture"></span>-->
                                        {% elif k[4] == "avi" or k[4] == "mp4" %}
                                        <span class="glyphicon glyphicon-film"></span>
                                        {% else %}
                                        <span class="glyphicon glyphicon-cog"></span>
                                        {% endif %}
                                    </a>
                                    <!--</button>-->
                                </td>
                                <td>
                                    {{k[3]}}
                                </td>
                                <td>
                                    <a href="#" onclick="deleteFileObject({{k[0]}})" style="color:red;">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="imgFiles" style="min-height:50px;">
                {% for k in files %}
                {% if k[4] == "jpg" or k[4] == "jpeg" or k[4] == "png" %}
                    <div class="responsive" data-fileid='{{k[0]}}'>
                      <div class="img">
                        <a target="_blank" href="{{ url_for('uploads',filename='object/'+k[3]) }}" download>
                          <img src="{{ url_for('uploads',filename='object/'+k[3]) }}" alt="Trolltunga Norway" width="300" height="200">
                        </a>
                        <div class="desc">{{k[3]}} 
                            <a href="#" onclick="deleteFileObject({{k[0]}})" style="color:red;">
                                    <span class="glyphicon glyphicon-remove"></span>
                            </a>
                          </div>
                      </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
        <div class="objectModalCont"></div>
	</div>
{%endif%}

{% if editObject %}
	<div class='editableObject' data-dbid='{{editObject[0]}}' style='width:100%'>
		<table style='width:100%'>
				<tr>
					<td class='object_staic_name'>Name:</td>
					<td class='object_staic_input'><input type='text' name='name' value='{{editObject[1]}}' class='object_input form-control'></td>
				</tr>
				<tr>
					<td class='object_static_date'>Date</td>
					<td class='object_static_input'><input type='date' name='date' class='object_input form-control' readonly></td>
				</tr>
				<tr>
					<td class='object_staic_name'>Hardware:</td>
					<td class='object_staic_input'><input type='text' name='hardware' value='{{editObject[2]}}' class='object_input form-control'></td>
				</tr>
				<tr>
					<td class='object_staic_name'>Description:</td>
					<td class='object_staic_input'><input type='text' name='desc' value='{{editObject[3]}}' class='object_input form-control'></td>
				</tr>
                <tr>
					<td class='object_staic_name'>Version:</td>
					<td class='object_staic_input'><input type='text' name='version' value='{{editObject[6]}}' class='object_input form-control'></td>
				</tr>
		</table>
        <div class='AreaField' style='width:100%'>
            <h2>Areas: </h2>
            <table>
                {% for k in areas %}
                    {% if loop.index == 1 %}
                        <tr>
                    {% endif %}
                            <td>
                                {% if k[1] == "checked" %}
                                <input type="checkbox" name="areaBox" data-dbid='{{k[0][0]}}' checked>{{k[0][1]}}
                                {% else %}
                                <input type="checkbox" name="areaBox" data-dbid='{{k[0][0]}}'>{{k[0][1]}}
                                {% endif %}
                            </td>
                    {% if (loop.index%3 == 0) and (loop.index!=count) %}
                        </tr>
                        <tr>
                    {% endif %}
                    {% if (loop.index%3 == 0) and (loop.index==count) %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
        <div class="FileUpload" style='width:100%;'>
        <div class="uploadHeader" style='width:100%;'>
            <h3>
                <a href="#" onclick="toggleObjectFileCont()" style="text-decoration: none;">
                    FileUpload: 
                </a>
            </h3>
        </div>
        <div class="uploadContent" style='width:100%;min-height:50px;'>
            <div style="width:100%;min-height:75px;">
                <div style="width:100%;">
                    <form class="form-group" data-formid='newObjectFile'  method="post" enctype="multipart/form-data" style="width:100%;">
                        Select file to upload:
                        <input type="file" name="fileToUpload" id="fileUploadObject" multiple>
                    </form>
                </div>
                <div style="width:50%; float:left;">
                    <table class="objectFiles" style="width:100%;">
                        {% if files != "empty" %}
                        {% for k in files %}
                            <tr data-fileid='{{k[0]}}'>
                                <td>
                                    <!--<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg[data-filemodalid='{{k[0]}}']">-->
                                    <a href="{{ url_for('uploads',filename='object/'+k[3]) }}" download>
                                        {% if k[4] == "txt" or k[4] == "pdf" or k[4] == "log" %}
                                        <span class="glyphicon glyphicon-file"></span>

                                        <!--<span class="glyphicon glyphicon-picture"></span>-->
                                        {% elif k[4] == "avi" or k[4] == "mp4" %}
                                        <span class="glyphicon glyphicon-film"></span>
                                        {% else %}
                                        <span class="glyphicon glyphicon-cog"></span>
                                        {% endif %}
                                    </a>
                                    <!--</button>-->
                                </td>
                                <td>
                                    {{k[3]}}
                                </td>
                                <td>
                                    <a href="#" onclick="deleteFileObject({{k[0]}})" style="color:red;">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="imgFiles" style="width:100%;">
                {% for k in files %}
                {% if k[4] == "jpg" or k[4] == "jpeg" or k[4] == "png" %}
                    <div class="responsive" data-fileid='{{k[0]}}'>
                      <div class="img">
                        <a target="_blank" href="{{ url_for('uploads',filename='object/'+k[3]) }}" download>
                          <img src="{{ url_for('uploads',filename='object/'+k[3]) }}" alt="Trolltunga Norway" width="300" height="200">
                        </a>
                        <div class="desc">{{k[3]}} 
                            <a href="#" onclick="deleteFileObject({{k[0]}})" style="color:red;">
                                    <span class="glyphicon glyphicon-remove"></span>
                            </a>
                          </div>
                      </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
	</div>
{%endif%}

{% if modalFiles %}
    {% for k in modalFiles %}
    <div class="modal fade bs-example-modal-lg" data-filemodalid='{{k[0]}}' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">{{k[3]}}</h4>
            </div>
            <div class="modal-body">
          {% if k[4] == "jpg" or k[4] == "jpeg" or k[4] == "png" %}
                <img src="{{ url_for('uploads',filename='object/'+k[3]) }}">
          {% else %}
                <a href="{{ url_for('uploads',filename='object/'+k[3]) }}" download>Download: {{k[3]}}</a>
          {% endif %}
            </div>
        </div>
      </div>
    </div>
    {% endfor %}
{% endif %}
