{% if set %}
<div class='setPageHeader' style="width:100%;">    
    <table style="width:100%;">
        <tr style="width:100%;">
            <td style="width:15%;"><b>Sets</b></td>
            <td style="width:60%;">
                <input type="text" name="setSearch" class="form-control" onchange="setSearch()" style="height:25px;">
            </td>
            <td style="width:2%;">
            </td>
            <td style="width:20%;">
                <a href="#" class="setHideShow" onclick='setHideShow()' data-mode="show"><span class='glyphicon glyphicon-collapse-up'></span></a>
            </td>
        </tr>
    </table>
</div>
<div class='setList' style="width:100%; overflow-y: auto;">
	{% for k in set %}
		<div data-dbid='set{{k[0]}}' draggable="true" ondragstart="drag(event)" ondragover="dragHover(event)">
			<a href='#' data-dbid='{{k[0]}}' class='set' id='{{k[0]}}'>{{k[1]}}</a>
		</div>
    {% endfor %}
</div>
{% endif %}

{% if setForm %}
<div style='width:100%' class='setForm' data-dbid='newSet'>
    <table style='width:100%' class='set_no'>
        <tr>
            <td class='set_staic_name'>Name:</td>
            <td class='set_staic_input'>
                <input type='text' name='name' value='Name' class='set_input form-control' readonly>
            </td>
        </tr>
        <tr>
            <td>Date:</td>
            <td>
                <input type='date' name='date' class='set_input form-control' readonly>
            </td>
        </tr>
        <tr>
            <td>Priority:</td>
            <td>
                <input type='text' name='priority' value='high' class='set_input form-control' readonly>
            </td>
        </tr>
    </table>
    <div class='AreaField' style='100%'>
        <h2>Areas: </h2>
        <table>
            {% for k in areas %}
                {% if loop.index == 1 %}
                    <tr>
                {% endif %}
                        <td>
                            <input type="checkbox" disabled="disabled" name="areaBox" data-dbid='{{k[0]}}'>
                        </td>
                        <td>{{k[1]}}</td>
                        <td style="width:5px"></td>
                {% if (loop.index%3 == 0) and (loop.index!=count) %}
                    </tr>
                    <tr>
                {% endif %}
                {% if (loop.index%3 == 0) and (loop.index==count) %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <p>Included Cases</p>
    <div class='incCases' style='height: 300px; background-color: #777; border-radius: 10px; box-shadow: 0px 0px 5px #7f8c8d;'></div>
</div>
{% endif %}
{% if loadSet %}
	<a name='editSet' id='{{loadSet[0][0]}}' class='btn btn-default btn-sm'>Edit</a>
	<a name='deleteset' id='{{loadSet[0][0]}}' class='btn btn-danger btn-sm' href='#' role='button'>Delete</a>
	<div style='width:100%' class='setForm'>
		<table style='width:100%' class='set_no'>
			{% for k in loadSet%}
			<tr>
				<td class='set_staic_name'>Name:</td><td class='set_staic_input'><input type='text' name='name' value='{{k[1]}}' class='set_input form-control' readonly></td>
			</tr>
			<tr>
				<td>Date:</td><td><input type='date' name='date' class='set_input form-control' readonly></td>
			</tr>
			<tr>
				<td>Priority:</td><td><input type='text' name='priority' value='high' class='set_input form-control' readonly></td>
			</tr>
			{% endfor %}
		</table>
		<div class='AreaField' style='100%'>
            <h2>Areas: </h2>
        <table>
            {% for k in areas %}
                {% if loop.index == 1 %}
                    <tr>
                {% endif %}
                        <td>
                            {% if k[1] == "checked" %}
                            <input type="checkbox" disabled="disabled" name="areaBox" data-dbid='{{k[0][0]}}' checked>
                        </td>
                        <td>{{k[0][1]}}</td>
                        <td style="width:5px"></td>
                            {% else %}
                            <input type="checkbox" disabled="disabled" name="areaBox" data-dbid='{{k[0][0]}}'>
                        </td>
                        <td>{{k[0][1]}}</td>
                        <td style="width:5px"></td>
                            {% endif %}
                        </td>
                {% if (loop.index%3 == 0) and (loop.index!=count) %}
                    </tr>
                    <tr>
                {% endif %}
                {% if (loop.index%3 == 0) and (loop.index==count) %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
		<p>Included Cases</p>
		<div class='incCases' ondrop='drop(event)' ondragover='allowDrop(event)' style='height: 300px; background-color: #777; border-radius: 10px; box-shadow: 0px 0px 5px #7f8c8d;'>
		{% if loadCase %}
			<table>
				{% for l in loadCase %}
				<tr>
					<th>{{l[1]}}</th>
				</tr>
				{% endfor %}
			</table>
		{% endif %}
		</div>
	</div>
{% endif %}

{% if loadEditableSet %}
	<a name='editSet' id='{{loadEditableSet[0][0]}}' class='btn btn-default btn-sm'>Edit</a>
	<a name='deleteset' id='{{loadEditableSet[0][0]}}' class='btn btn-danger btn-sm' href='#' role='button'>Delete</a>
	<div style='width:100%' class='setForm' data-dbid='{{loadEditableSet[0][0]}}'>
		<table style='width:100%' class='set_no'>
			{% for k in loadEditableSet%}
			<tr>
				<td class='set_staic_name'>Name:</td><td class='set_staic_input'><input type='text' name='name' value='{{k[1]}}' class='set_input form-control'></td>
			</tr>
			<tr>
				<td>Date:</td><td><input type='date' name='date' class='set_input form-control'></td>
			</tr>
			<tr>
				<td>Priority:</td><td><input type='text' name='priority' value='high' class='set_input form-control'></td>
			</tr>
			{% endfor %}
		</table>
		<div class='AreaField' style='100%'>
            <h2>Areas: </h2>
        <table>
            {% for k in areas %}
                {% if loop.index == 1 %}
                    <tr>
                {% endif %}
                        <td>
                            {% if k[1] == "checked" %}
                            <input type="checkbox" name="areaBox" data-dbid='{{k[0][0]}}' checked>
                        </td>
                        <td>{{k[0][1]}}</td>
                        <td style="width:5px"></td>
                            {% else %}
                            <input type="checkbox" name="areaBox" data-dbid='{{k[0][0]}}'>
                        </td>
                        <td>{{k[0][1]}}</td>
                        <td style="width:5px"></td>
                            {% endif %}
                        </td>
                {% if (loop.index%3 == 0) and (loop.index!=count) %}
                    </tr>
                    <tr>
                {% endif %}
                {% if (loop.index%3 == 0) and (loop.index==count) %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
		<p>Included Cases</p>
		<div class='incCases' ondrop='drop(event)' ondragover='allowDrop(event)' style='height: 300px; background-color: #777; border-radius: 10px; box-shadow: 0px 0px 5px #7f8c8d;'>
		{% if editCase %}
			{% for o in editCase %}
				<div draggable="true" ondragstart="drag(event)" ondragover="dragHover(event)">
					<a href='#' data-dbid='{{o[0]}}' class='case'>{{o[1]}}</a>
				</div>
			{% endfor %}
		{% endif %}
		</div>
	</div>
{% endif %}

{% if exeCasesBySet %}
	{% for k in exeCasesBySet %}
		<div data-dbid='case{{k[0]}}' draggable="true" ondragstart="drag(event)" ondragover="dragHover(event)">
			<a href='#' data-dbid='{{k[0]}}' class='case'>{{k[1]}}</a>
		</div>
	{% endfor %}
{% endif %}