{% if set %}
<div class="panel panel-default" id="fullHeight">
    <div class="panel-heading">
        Sets
        <div class="btn-group pull-right">
            <button type="button" class="setHideShow btn btn-default btn-xs dropdown-toggle" onclick='setHideShow()' data-mode="show">
                <i class="fa fa-chevron-down"></i>
            </button>
        </div>
        <div class="input-group pull-right">
            <input type="text" name="setSearch" class="form-control" onchange="setSearch()" placeholder="Search..." id="btn-input">
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-set" id="elementBody">
        <div class='setList'>
        {% for k in set %}
            <div data-dbid='set{{k[0]}}' draggable="true" ondragstart="drag(event)" ondragover="dragHover(event)">
                <a href='#' data-dbid='{{k[0]}}' class='set' id='{{k[0]}}'>{{k[1]}}</a>
            </div>
        {% endfor %}
        </div>
    </div>
    <!-- /.panel-body -->
    <div class="panel-footer">
        <div class="input-group">
        </div>
    </div>
    <!-- /.panel-footer -->
</div>
{% endif %}

{% if setForm %}
<div class='setForm' data-dbid='newSet'>
    <table id="fullWidth" class='set_no'>
        <tr>
            <td class='set_staic_name'>Name:</td>
            <td class='set_staic_input'>
                <input type='text' name='name' value='Name' class='set_input form-control' readonly>
            </td>
        </tr>
        <tr>
            <td>Date:</td>
            <td>
                <input type='date' name='date' class='set_input form-control' readonly>
            </td>
        </tr>
        <tr>
            <td>Priority:</td>
            <td>
                <input type='text' name='priority' value='high' class='set_input form-control' readonly>
            </td>
        </tr>
    </table>
    <div class='AreaField' id="fullWidth">
        <h2>Tags: </h2>
        <table>
            {% for k in areas %}
                {% if loop.index == 1 %}
                    <tr>
                {% endif %}
                        <td>
                            <input type="checkbox" disabled="disabled" name="areaBox" data-dbid='{{k[0]}}'>
                        </td>
                        <td>{{k[1]}}</td>
                        <td style="width:5px"></td>
                {% if (loop.index%5 == 0) and (loop.index!=count) %}
                    </tr>
                    <tr>
                {% endif %}
                {% if (loop.index%5 == 0) and (loop.index==count) %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="Files" id="fullWidth">
        <div class="uploadHeader" id="fullWidth">
            <h3>
                <a href="#" onclick="toggleSetFileCont()" id="no-dec-link">
                    Files: 
                </a>
            </h3>
        </div>
        <div class="uploadContent" style='widt:100%;display: none;'>
            <div style="width:100%;min-height:75px">
                <div id="cont-50-left">
                    <form class="form-group" data-formid='newSet'  method="post" enctype="multipart/form-data" id="fullWidth">
                        Select file to upload:
                        <input type="file" name="fileToUpload" id="fileUploadSet" multiple>
                    </form>
                </div>
                <div id="cont-50-left" class="fileContainer">
                    <table class="setFiles" id="fullWidth">
                    </table>
                </div>
            </div>
            <div class="imgFiles" id="fullWidth"></div>
        </div>
    </div>
    <div class="panel panel-default" id="exeCase">
        <div class="panel-heading">
        Included Cases
        </div>
        <!-- /.panel-heading -->
        <div class="incCases panel-body">
        </div>
        <!-- /.panel-body -->
    </div>
</div>
{% endif %}

{% if loadSet %}
	<a name='editSet' id='{{loadSet[0][0]}}' class='btn btn-default btn-sm'>Edit</a>
	<a name='deleteset' id='{{loadSet[0][0]}}' class='btn btn-danger btn-sm' href='#' role='button'>Delete</a>
	<div class='setForm'>
		<table style='width:100%' class='set_no'>
			{% for k in loadSet%}
			<tr>
				<td class='set_staic_name'>Name:</td><td class='set_staic_input'><input type='text' name='name' value='{{k[1]}}' class='set_input form-control' readonly></td>
			</tr>
			<tr>
				<td>Date:</td><td><input type='date' name='date' class='set_input form-control' readonly></td>
			</tr>
			<tr>
				<td>Priority:</td><td><input type='text' name='priority' value='high' class='set_input form-control' readonly></td>
			</tr>
			{% endfor %}
		</table>
		<div class='AreaField' style='width:100%;'>
            <h2>Tags: </h2>
        <table>
            {% for k in areas %}
                {% if loop.index == 1 %}
                    <tr>
                {% endif %}
                        <td>
                            {% if k[1] == "checked" %}
                            <input type="checkbox" disabled="disabled" name="areaBox" data-dbid='{{k[0][0]}}' checked>
                        </td>
                        <td>{{k[0][1]}}</td>
                        <td style="width:5px;"></td>
                            {% else %}
                            <input type="checkbox" disabled="disabled" name="areaBox" data-dbid='{{k[0][0]}}'>
                        </td>
                        <td>{{k[0][1]}}</td>
                        <td style="width:5px;"></td>
                            {% endif %}
                        </td>
                {% if (loop.index%5 == 0) and (loop.index!=count) %}
                    </tr>
                    <tr>
                {% endif %}
                {% if (loop.index%5 == 0) and (loop.index==count) %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="Files" style='width:100%;'>
        <div class="uploadHeader" style='width:100%;'>
            <h3>
                <a href="#" onclick="toggleSetFileCont()" style="text-decoration: none;">
                    Files: 
                </a>
            </h3>
        </div>
        <div class="uploadContent" style='width:100%; min-height:50px;'>
            <div style="width:100%;min-height:70px;">
                <div style="width:50%; float:left;">
                    <form class="form-group" data-formid='newSetFile'  method="post" enctype="multipart/form-data" style="width:100%;">
                        Select file to upload:
                        <input type="file" name="fileToUpload" id="fileUploadSet" multiple>
                        <button class="btn btn-default btn-xs" type="button" onclick="updateFilesToSet({{loadSet[0][0]}})" style="width:50%; float:left;">Upload</button>
                    </form>
                </div>
                <div style="width:50%; float:left;" class="fileContainer">
                    <table class="setFiles" style="width:100%;">
                        {% if files != "empty" %}
                        {% for k in files %}
                            <tr data-fileid='{{k[0]}}'>
                                <td>
                                    <a href="{{ url_for('uploads',filename='set/'+k[3]) }}" download>
                                        {% if k[4] == "txt" or k[4] == "pdf" or k[4] == "log" or k[4] == "doc" or k[4] == "docx" or k[4] == "xls" or k[4] == "xlsx" or k[4] == "csv" or k[4] == "xlt" %}
                                        <span class="glyphicon glyphicon-file"></span>
                                        {% elif k[4] == "jpg" or k[4] == "jpeg" or k[4] == "png" %}
                                        <span class="glyphicon glyphicon-picture"></span>
                                        {% elif k[4] == "avi" or k[4] == "mp4" %}
                                        <span class="glyphicon glyphicon-film"></span>
                                        {% else %}
                                        <span class="glyphicon glyphicon-cog"></span>
                                        {% endif %}
                                    </a>
                                    <!--</button>-->
                                </td>
                                <td>
                                    {{k[3]}}
                                </td>
                                <td>
                                    <a href="#" onclick="deleteFileSet({{k[0]}})" style="color:red;">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="imgFiles" style="min-height:50px;">
                {% for k in files %}
                {% if k[4] == "jpg" or k[4] == "jpeg" or k[4] == "png" %}
                    <div class="responsive" data-fileid='{{k[0]}}' id="img">
                      <div class="img">
                        <a target="_blank" href="{{ url_for('uploads',filename='set/'+k[3]) }}" download>
                          <img src="{{ url_for('uploads',filename='set/'+k[3]) }}" alt="Trolltunga Norway" width="300" height="200">
                        </a>
                        <div class="desc">{{k[3]}} 
                            <a href="#" onclick="deleteFileSet({{k[0]}})" style="color:red;">
                                    <span class="glyphicon glyphicon-remove"></span>
                            </a>
                          </div>
                      </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
        <div class="panel panel-default" id="exeCase">
            <div class="panel-heading">
            Included Cases
            </div>
            <!-- /.panel-heading -->
            <div class="incCases panel-body" ondrop='drop(event)' ondragover='allowDrop(event)'>
                {% if loadCase %}
                    <table>
                        {% for l in loadCase %}
                        <tr>
                            <td stye="border-right: 1px solid black; padding-right:5px;"> 
                                {{loop.index}}
                            </td>
                            <td>{{l[1]}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
{% endif %}

{% if loadEditableSet %}
	<div class='setForm' data-dbid='{{loadEditableSet[0][0]}}'>
		<table style='width:100%' class='set_no'>
			{% for k in loadEditableSet%}
			<tr>
				<td class='set_staic_name'>Name:</td><td class='set_staic_input'><input type='text' name='name' value='{{k[1]}}' class='set_input form-control'></td>
			</tr>
			<tr>
				<td>Date:</td><td><input type='date' name='date' class='set_input form-control'></td>
			</tr>
			<tr>
				<td>Priority:</td><td><input type='text' name='priority' value='high' class='set_input form-control'></td>
			</tr>
			{% endfor %}
		</table>
		<div class='AreaField' style='width:100%;'>
            <h2>Tags: </h2>
        <table>
            {% for k in areas %}
                {% if loop.index == 1 %}
                    <tr>
                {% endif %}
                        <td>
                            {% if k[1] == "checked" %}
                            <input type="checkbox" name="areaBox" data-dbid='{{k[0][0]}}' checked>
                        </td>
                        <td>{{k[0][1]}}</td>
                        <td style="width:5px;"></td>
                            {% else %}
                            <input type="checkbox" name="areaBox" data-dbid='{{k[0][0]}}'>
                        </td>
                        <td>{{k[0][1]}}</td>
                        <td style="width:5px;"></td>
                            {% endif %}
                        </td>
                {% if (loop.index%5 == 0) and (loop.index!=count) %}
                    </tr>
                    <tr>
                {% endif %}
                {% if (loop.index%5 == 0) and (loop.index==count) %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="FileUpload" style='width:100%;'>
        <div class="uploadHeader" style='width:100%;'>
            <h3>
                <a href="#" onclick="toggleSetFileCont()" style="text-decoration: none;">
                    Files: 
                </a>
            </h3>
        </div>
        <div class="uploadContent" style='width:100%;min-height:50px;'>
            <div style="width:100%;min-height:75px;">
                <div style="width:100%;">
                    <form class="form-group" data-formid='newSetFile'  method="post" enctype="multipart/form-data" style="width:100%;">
                        Select file to upload:
                        <input type="file" name="fileToUpload" id="fileUploadSet" multiple>
                    </form>
                </div>
                <div style="width:50%; float:left;" class="fileContainer">
                    <table class="setFiles" style="width:100%;">
                        {% if files != "empty" %}
                        {% for k in files %}
                            <tr data-fileid='{{k[0]}}'>
                                <td>
                                    <a href="{{ url_for('uploads',filename='set/'+k[3]) }}" download>
                                        {% if k[4] == "txt" or k[4] == "pdf" or k[4] == "log" or k[4] == "doc" or k[4] == "docx" or k[4] == "xls" or k[4] == "xlsx" or k[4] == "csv" or k[4] == "xlt" %}
                                        <span class="glyphicon glyphicon-file"></span>
                                        {% elif k[4] == "jpg" or k[4] == "jpeg" or k[4] == "png" %}
                                        <span class="glyphicon glyphicon-picture"></span>
                                        {% elif k[4] == "avi" or k[4] == "mp4" %}
                                        <span class="glyphicon glyphicon-film"></span>
                                        {% else %}
                                        <span class="glyphicon glyphicon-cog"></span>
                                        {% endif %}
                                    </a>
                                    <!--</button>-->
                                </td>
                                <td>
                                    {{k[3]}}
                                </td>
                                <td>
                                    <a href="#" onclick="deleteFileSet({{k[0]}})" style="color:red;">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="imgFiles" style="width:100%;">
                {% for k in files %}
                {% if k[4] == "jpg" or k[4] == "jpeg" or k[4] == "png" %}
                    <div class="responsive" data-fileid='{{k[0]}}' id="img">
                      <div class="img">
                        <a target="_blank" href="{{ url_for('uploads',filename='set/'+k[3]) }}" download>
                          <img src="{{ url_for('uploads',filename='set/'+k[3]) }}" alt="Trolltunga Norway" width="300" height="200">
                        </a>
                        <div class="desc">{{k[3]}} 
                            <a href="#" onclick="deleteFileSet({{k[0]}})" style="color:red;">
                                    <span class="glyphicon glyphicon-remove"></span>
                            </a>
                          </div>
                      </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
        <div class="panel panel-default" id="exeCase">
            <div class="panel-heading">
            Included Cases
            </div>
            <!-- /.panel-heading -->
            <div class="incCases panel-body" ondrop='drop(event)' ondragover='allowDrop(event)'>
                {% if editCase %}
                    <table>
                        {% for o in editCase %}
                            <div data-dbid='{{o[0]}}' draggable="true" ondragstart="drag(event)" ondragover="dragHover(event)">
                                <a href='#' data-dbid='{{o[0]}}' class='case'>{{o[1]}}</a>
                            </div>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
	</div>
{% endif %}

{% if exeCasesBySet %}
	{% for k in exeCasesBySet %}
		<div data-dbid='case{{k[0]}}' draggable="true" ondragstart="drag(event)" ondragover="dragHover(event)">
			<table>
                <tr>
                    <td stye="border-right: 1px solid black; padding-right:5px;"> 
                        # 
                    </td>
                    <td>
                        <a href='#' data-dbid='{{k[0]}}' class='case' id="no-dec-link">{{k[1]}}</a>
                    </td>
                </tr>
            </table>
		</div>
	{% endfor %}
{% endif %}