<div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" id="idAllChart">
	  <div style="float:left;width:40%;height:100%;">
          <div class="allPie" id="allPie"></div>
          <div class="allLine" id="allLine"></div>
      </div>
      <div class='allJenkinsRad container'></div>
    </div>
    <div class="item chart" id="idPieChart">
	  <div class="chartFilter" id="pie"></div>
	  <div class="pieChart chartContainer" id="pieChart"></div>
    </div>
    <div class="item chart" id="idLineChart">
	  <div class="chartFilter" id="line"></div>
	  <div class="lineChart chartContainer" id="lineChart"></div>
    </div>
    <div class="item">
	  <div class="jenkinsRadiator" id="jenkins">
          <div class='jenkinsFilter container'></div>
          <div class='jenkinsRad container'></div>
      </div>
      <div class="carousel-caption">
        Jenkins Radiator diagram
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>