{% if editablestep %}
<table style='width:100%'>
	<tr>
		<th style='width:50%'>Action</th>
		<th style='width:50%'>Result</th>
	</tr>
</table>
<div class='newStepPlace' ondrop='drop(event)' ondragover='allowDrop(event)' style='border-radius: 5px;'>
	{% for k in editablestep %}
    <div class="stepDragg" draggable="true" ondragstart="drag(event)" ondragover="dragHover(event)">
    <table style='width:100%'>
        <tr>
            <th><a href='#' data-dbid='{{k[0]}}' id='{{k[0]}}' class='step' onclick='selectStep(event)'>#</a><th>
            <th>
                <textarea name='action[]' class="action form-control" id='{{k[0]}}' rows="2" overflow="auto" onkeypress="reSizeTextarea(event)">{{k[1]}}</textarea>
            </th>
            <th>
                <textarea name='result[]' class="result form-control" rows="2" id='{{k[0]}}' overflow="hidden" onkeypress="reSizeTextarea(event)">{{k[2]}}</textarea>
            </th>
            <th>
                <a href='#' data-dbid='' id='' class='step' onclick="removeStep(event)">
                    <span class="glyphicon glyphicon-remove" style="color:red;"></span>
                </a>
            </th>
        </tr>
    </table>
    </div>
	{% endfor %}
</div>
{% endif %}

{% if step %}
	<tr>
		<th>Action</th>
			<th>Result</th>
		</tr>
		{% for k in step%}
		<tr>
			<th>{{k[1]}}</th>
			<th>{{k[2]}}</th>
		{% endfor %}
	</tr>
{% endif %}