{% if type == "line" %}
[
	{
		"type": "column",	
		"name": "Run",
		"legendText": "Run",
		"color": "#2ECC71",
		"showInLegend": true, 
		"dataPoints":[
        {% for k in data %}
        {% endfor %}
		{"label": "Demo Test", "y": 10},
		{"label": "Chart Test", "y": 11}
		]
	},
	{
		"type": "column",	
		"name": "Failed",
		"color": "#C0392B",
		"legendText": "Failed",
		"showInLegend": true,
		"dataPoints":[
		{"label": "Demo Test", "y": 2},
		{"label": "Chart Test", "y": 1}
		]
	},
	{
		"type": "column",	
		"name": "Not Run",
		"legendText": "Not Run",
		"color": "#7F8C8D",
		"showInLegend": true,
		"dataPoints":[
		{"label": "Demo Test", "y": 3},
		{"label": "Chart Test", "y": 3}
		]
	},
	{
		"type": "column",	
		"name": "Not Implemented",
		"legendText": "Not Implemented",
		"color": "#3498DB",
		"showInLegend": true,
		"dataPoints":[
		{"label": "Demo Test", "y": 13},
		{"label": "Chart Test", "y": 13}
		]
	}
			
]
{% endif %}

{% if type == "pie" %}
[
	{        
		"indexLabelFontSize": 20,
		"indexLabelFontFamily": "Monospace",       
		"indexLabelFontColor": "darkgrey", 
		"indexLabelLineColor": "darkgrey",        
		"indexLabelPlacement": "outside",
		"type": "pie",       
		"showInLegend": true,
		"toolTipContent": "{legendText}: {y}%",
		"dataPoints": 
		[
            {% if rate[0] > 0 %}
			{  "y":  {{(rate[0]/rate[4]*100)|int}}, "legendText":"PASSED", "indexLabel": "Passed" }
            {% endif %}
            {% if ((rate[1] > 0) or (rate[2]>0) or (rate[3]>0)) and (rate[0]!=0)  %}
            ,
            {% endif %}
            {% if rate[1] > 0 %}
			{  "y": {{(rate[1]/rate[4]*100)|int}}, "legendText":"FAILED","exploded": true, "indexLabel": "Failed" }
            {% endif %}
            {% if ((rate[2]>0) or (rate[3]>0)) and (rate[1]!=0) %}
            ,
            {% endif %}
            {% if rate[2] > 0 %}
			{  "y": {{(rate[2]/rate[4]*100)|int}}, "legendText":"NOTRUN", "indexLabel": "Not Run" }
            {% endif %}
            {% if (rate[3]>0) and (rate[2]!=0) %}
            ,
            {% endif %}
            {% if rate[3] > 0 %}
			{  "y": "{{(rate[3]/rate[4]*100)|int}}, "legendText":"NOTIMP" , "indexLabel": "Not Implemented"}
            {% endif %}
		]
	}
]
{% endif %}