{% if Exe %}
<table>
	<tr style='width:100%;'>
		<td style='width:85%;'>
			<select class="executionSelector form-control" style='width:100%;'>
			{% for k in Exe %}
				<option data-dbid='{{k[0]}}'>{{k[1]}} ({{k[3]}})</option>
			{% endfor %}
			</select>
		</td>
		<td style='width:10px;'></td>
		<td style='width: 50 px;'>
			<a class='btn btn-info' href='#' role='button' id='selectExe'>Submit</a>
			<!--<button class="btn btn-info" id='selectExe' type='button'>Submit!</button>-->
		</td>
	</tr>
</table>
{% endif %}

{% if loadTest %}
<div style="width:100%;overflow-y: auto;">
    <table>
        <tr style='width:100%;'>
            <th style='width:2%;'></th>
            <th style='width:2%;'>ID</th>
            <th style='width:50%;'>Title</th>
            <th style='width:20%;'>Result</th>
            <th style='width:18%;'>History</th>
            <th style='width:8%;'>Duration</th>
        </tr>
        {% for k in loadTest %}
        <tr class='caseMain'  id='{{k[2]}}' data-index='{{loop.index}}' style='width:100%;'>
            <td class='caseMarker' id='{{k[2]}}' style='width:2%;color:red;'></td>
            <td style='width:2%;'>
                <a href='#' class='caseInExe'  id='{{k[2]}}' data-dbid='{{k[2]}}' data-index='{{loop.index}}'>
                    {{loop.index}}
                </a>
            </td>
            <td style='width:50%;'>
                <a href='#' class='caseInExe' data-dbid='{{k[2]}}' data-index='{{loop.index}}' id='{{k[2]}}'>
                    {{k[4]}}
                </a>
            </td>
            <td style='width:20%;'>
                <a href='#' class='caseInExe' data-dbid='{{k[2]}}' data-index='{{loop.index}}' id='{{k[2]}}'>
                    <p class='Res' id='{{k[2]}}'>
                        {% if k[3] == "RUN" %}
                            <span class='glyphicon glyphicon-ok-circle' style='color:#5cb85c;'></span>
                        {% endif %}
                        {% if k[3] == "FAILED" %}
                            <span class='glyphicon glyphicon-remove-circle' style='color:#d9534f;'></span>
                        {% endif %}
                        {% if k[3] == "NOTRUN" %}
                            {{k[3]}}
                        {% endif %}
                        {% if k[3] == "SKIPPED" %}
                            <span class='glyphicon glyphicon-warning-sign' style='color:#f0ad4e;'></span>
                        {% endif %}
                        {% if k[3] == "NOTIMP" %}
                            <span class='glyphicon glyphicon-ban-circle' style='color:#5bc0de;'></span>
                        {% endif %}
                    </p>
                </a>
            </td>
            <td style='width:18%;'>
                <a href='#' class='caseInExe' data-dbid='{{k[2]}}' data-index='{{loop.index}}' id='{{k[2]}}'>

                </a>
            </td>
            <td style='width:8%;'>
                <a href='#' class='caseInExe' data-dbid='{{k[0]}}' data-index='{{loop.index}}' id='{{k[2]}}'>
                    {{k[5]}}
                </a>
            </td>
        </tr>
        {% endfor %}	
    </table>
</div>
{% endif %}

{% if step %}
<div style="width:100%;height:100%;">
    <table style='width:100%;'>
        <tr style='width:100%;'>
            <th style='width:2%;'></th>
            <th style='width:2%;'>ID</th>
            <th style='width:40%;'>Description</th>
            <th style='width:31%;'>Result</th>
            <th style='width:10%;'>Result</th>
            <th style='width:15%;'>Comment</th>
        </tr>
    </table>
    <div class='stepHolder' style="width:100%;height:80%;overflow-y: auto;">
    {% for k in step %}
        <table data-stepMarkerId='{{k[0][0]}}' style='width:100%;'>
            <tr style='width:100%;'>
                <td id='{{k[0][0]}}' class='stepMarker' data-dbid='{{k[0][0]}}' style='color:red;width:2%;'></td>
                <td class='Step' data-dbid='{{k[0][0]}}' style='width:2%;'>
                    <a href='#' class='Step' data-dbid='{{k[0][0]}}' >{{loop.index}}</a>
                </td>
                <td class='Step' data-dbid='{{k[0][0]}}' style='width:40%;'>
                    <a href='#' class='Step' data-dbid='{{k[0][0]}}' >{{k[0][1]}}</a>
                </td>
                <td class='Step' data-dbid='{{k[0][0]}}' style='width:31%;'>
                    <a href='#' class='Step' data-dbid='{{k[0][0]}}' >{{k[0][2]}}</a>
                </td>
                <td data-dbid='{{k[0][0]}}' id='{{k[0][0]}}' style='width:10%;'>
                    <a href='#' class='Result' data-dbid='{{k[0][0]}}' id='{{k[0][0]}}'>
                        {% if k[1][0] == "RUN" %}
                            <span class='glyphicon glyphicon-ok-circle' style='color:#5cb85c;'></span>
                        {% endif %}
                        {% if k[1][0] == "FAILED" %}
                            <span class='glyphicon glyphicon-remove-circle' style='color:#d9534f;'></span>
                        {% endif %}
                        {% if k[1][0] == "NOTRUN" %}
                            {{k[1][0]}}
                        {% endif %}
                        {% if k[1][0] == "SKIPPED" %}
                            <span class='glyphicon glyphicon-warning-sign' style='color:#f0ad4e;'></span>
                        {% endif %}
                        {% if k[1][0] == "NOTIMP" %}
                            <span class='glyphicon glyphicon-ban-circle' style='color:#5bc0de;'></span>
                        {% endif %}
                    </a>
                </td>
                <td class='Step' data-dbid='{{k[0][0]}}' style='width:15%;'>
                    <a href='#' class='Step' data-comment='comment' data-dbid='{{k[0][0]}}' data-popname="stepPop" data-toggle="popover" data-placement="bottom" data-title='Comment: ' onclick="addComment({{k[0][0]}})">{{k[1][1]}}</a>
                </td>
            </tr>
        </table>
    {% endfor %}
    </div>
    <table class='testButtons'>
        <tr>
            <td>
                Case: &nbsp
            </td>
            <td>
                <a class='btn btn-default btn-xs' href='#' role='button' id='BACKCASE'>Back</a> &nbsp
            </td>
            <td>
                <a class='btn btn-default btn-xs' href='#' role='button' id='NEXTCASE'>Next</a> &nbsp
            </td>
            <td>
                Step: &nbsp
            </td>
            <td>
                <a class='btn btn-default btn-xs' href='#' role='button' id='BACK'>Back</a> &nbsp
            </td>
            <td>
                <a class='btn btn-default btn-xs' href='#' role='button' id='NEXT'>Next</a> &nbsp
            </td>
            <td>
                <a class='btn btn-default btn-xs' href='#' role='button' id='RUN'>RUN</a> &nbsp
            </td>
            <td>
                <a class='btn btn-default btn-xs' href='#' role='button' id='NOTRUN'>NOTRUN</a> &nbsp 
            </td>
            <td>
                <a class='btn btn-default btn-xs' href='#' role='button' id='FAILED'>FAILED</a> &nbsp
            </td>
            <td>
                <a class='btn btn-default btn-xs' href='#' role='button' id='NOTIMP'>NOTIMP</a> &nbsp
            </td>
            <td>
                <a class='btn btn-default btn-xs' href='#' role='button' id='SKIPPED'>SKIPPED</a> &nbsp
            </td>
        </tr>
    </table>
</div>
{% endif %}

{% if status %}
    {% if status == "FAILED" %}
        <span class='glyphicon glyphicon-remove-circle' style='color:#d9534f;'></span>
    {% endif %}
    {% if status == "RUN" %}
        <span class='glyphicon glyphicon-ok-circle' style='color:#5cb85c;'></span>
    {% endif %}
    {% if status == "NOTRUN" %}
        {{status}}
    {% endif %}
    {% if status == "SKIPPED" %}
        <span class='glyphicon glyphicon-warning-sign' style='color:#f0ad4e;'></span>
    {% endif %}
    {% if status == "NOTIMP" %}
        <span class='glyphicon glyphicon-ban-circle' style='color:#5bc0de;'></span>
    {% endif %}
{% endif %}