{% if type=="template" %}
[
	{
		"type": "column",	
		"name": "Run",
		"legendText": "Run",
		"color": "#2ECC71",
		"showInLegend": true, 
		"dataPoints":[
        {"label": "Reloading", "y": 20}
		]
	},
	{
		"type": "column",	
		"name": "Failed",
		"color": "#C0392B",
		"legendText": "Failed",
		"showInLegend": true,
		"dataPoints":[
		{"label": "Reloading", "y": 3}
		]
	},
	{
		"type": "column",	
		"name": "Not Run",
		"legendText": "Not Run",
		"color": "#7F8C8D",
		"showInLegend": true,
		"dataPoints":[
		{"label": "Reloading", "y": 5}
		]
	},
	{
		"type": "column",	
		"name": "Not Implemented",
		"legendText": "Not Implemented",
		"color": "#3498DB",
		"showInLegend": true,
		"dataPoints":[
		{"label": "Reloading", "y": 1}
		]
	}
			
]
{% endif %}

{% if type == "line" %}
[
	{
		"type": "column",	
		"name": "Run",
		"legendText": "Run",
		"color": "#2ECC71",
		"showInLegend": true, 
		"dataPoints":[
        {% for k in data[:-1] %}
        {"label": "{{k[0][0][1]}}", "y": {{k[1][0]}}},
        {% endfor %}
        {"label": "{{data[-1][0][0][1]}}", "y": {{data[-1][1][0]}}}
		]
	},
	{
		"type": "column",	
		"name": "Failed",
		"color": "#C0392B",
		"legendText": "Failed",
		"showInLegend": true,
		"dataPoints":[
		{% for k in data[:-1] %}
        {"label": "{{k[0][0][1]}}", "y": {{k[1][1]}}},
        {% endfor %}
        {"label": "{{data[-1][0][0][1]}}", "y": {{data[-1][1][1]}}}
		]
	},
	{
		"type": "column",	
		"name": "Not Run",
		"legendText": "Not Run",
		"color": "#7F8C8D",
		"showInLegend": true,
		"dataPoints":[
		{% for k in data[:-1] %}
        {"label": "{{k[0][0][1]}}", "y": {{k[1][2]}}},
        {% endfor %}
        {"label": "{{data[-1][0][0][1]}}", "y": {{data[-1][1][2]}}}
		]
	},
	{
		"type": "column",	
		"name": "Not Implemented",
		"legendText": "Not Implemented",
		"color": "#3498DB",
		"showInLegend": true,
		"dataPoints":[
		{% for k in data[:-1] %}
        {"label": "{{k[0][0][1]}}", "y": {{k[1][3]}}},
        {% endfor %}
        {"label": "{{data[-1][0][0][1]}}", "y": {{data[-1][1][3]}}}
		]
	}
			
]
{% endif %}

{% if type == "pie" %}
[
	{        
		"indexLabelFontSize": 20,
		"indexLabelFontFamily": "Monospace",       
		"indexLabelFontColor": "darkgrey", 
		"indexLabelLineColor": "darkgrey",        
		"indexLabelPlacement": "outside",
		"type": "pie",       
		"showInLegend": true,
		"toolTipContent": "{legendText}: {y}%",
		"dataPoints": 
		[
            {% if rate[0] > 0 %}
			{  "y":  {{(rate[0]/rate[4]*100)|int}}, "legendText":"PASSED", "indexLabel": "Passed" }
            {% endif %}
            {% if ((rate[1] > 0) or (rate[2]>0) or (rate[3]>0)) and (rate[0]!=0)  %}
            ,
            {% endif %}
            {% if rate[1] > 0 %}
			{  "y": {{(rate[1]/rate[4]*100)|int}}, "legendText":"FAILED","exploded": true, "indexLabel": "Failed" }
            {% endif %}
            {% if ((rate[2]>0) or (rate[3]>0)) and (rate[1]!=0) %}
            ,
            {% endif %}
            {% if rate[2] > 0 %}
			{  "y": {{(rate[2]/rate[4]*100)|int}}, "legendText":"NOTRUN", "indexLabel": "Not Run" }
            {% endif %}
            {% if (rate[3]>0) and (rate[2]!=0) %}
            ,
            {% endif %}
            {% if rate[3] > 0 %}
			{  "y": "{{(rate[3]/rate[4]*100)|int}}, "legendText":"NOTIMP" , "indexLabel": "Not Implemented"}
            {% endif %}
		]
	}
]
{% endif %}

{% if result == "pie" %}
[
	{        
		"indexLabelFontSize": 20,
		"indexLabelFontFamily": "Monospace",       
		"indexLabelFontColor": "darkgrey", 
		"indexLabelLineColor": "darkgrey",        
		"indexLabelPlacement": "outside",
		"type": "pie",       
		"showInLegend": true,
		"toolTipContent": "{legendText}",
		"dataPoints": 
		[
			{  "y":  "1", "legendText":"No Result", "indexLabel": "No Result" }
		]
	}
]
{% endif %}
{% if result == "line" %}
[
	{
		"type": "column",	
		"name": "No Result",
		"legendText": "No Result",
		"color": "#2ECC71",
		"showInLegend": true, 
		"dataPoints":[
        {"label": "No Result", "y": 1}
		]
	}
]
{% endif %}