{% if testUpload %}
<div style="color:black;" style="width:100%;">
    <table class="fileStep" data-stepexeid='{{stepexeId}}' style="width:100%;">
    {% if testUpload != "empty" %}
    {% for k in testUpload %}
        <tr data-fileid='{{k[0]}}'>
            <td>
                <a href="{{k[1]}}">
                    {% if k[3] == "txt" or k[3] == "pdf" or k[3] == "log" %}
                    <span class="glyphicon glyphicon-file"></span>
                    {% elif k[3] == "jpg" or k[3] == "jpeg" or k[3] == "png" %}
                    <span class="glyphicon glyphicon-picture"></span>
                    {% elif k[3] == "avi" or k[3] == "mp4" %}
                    <span class="glyphicon glyphicon-film"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-cog"></span>
                    {% endif %}
                </a>
            </td>
            <td>
                {{k[2]}}
            </td>
            <td>
                <a href="#" onclick="deleteFileTest({{k[0]}})" style="color:red;">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
    {% endfor %}
    {% endif %}
    </table>
    New File Upload:
    <form data-formid='{{stepexeId}}'  method="post" enctype="multipart/form-data" style="width:100%;">
        Select file to upload:
        <input type="file" name="fileToUpload" id='file{{stepexeId}}' data-fileid='{{stepexeId}}' multiple>
        <button type="button" onclick="saveFileTest({{stepexeId}})" style="width:50%; float:left;">Upload</button>
        <!---<input type="submit" value="Upload" name="submit" style="width:50%;float:left;">-->
        <button type="button" onclick="cancelFileTest({{stepId}})" style="width:50%;float:left;">Cancel</button>
    </form>
</div>
{% endif %}

{% if addPlusToTest %}
<tr data-fileid='{{addPlusToTest[0]}}'>
    <td>
        <a href='{{addPlusToTest[2]}}'>
            {% if addPlusToTest[4] == "txt" or addPlusToTest[4] == "pdf" or addPlusToTest[4] == "log" %}
            <span class="glyphicon glyphicon-file"></span>
            {% elif addPlusToTest[4] == "jpg" or addPlusToTest[4] == "jpeg" or addPlusToTest[4] == "png" %}
            <span class="glyphicon glyphicon-picture"></span>
            {% elif addPlusToTest[4] == "avi" or addPlusToTest[4] == "mp4" %}
            <span class="glyphicon glyphicon-film"></span>
            {% else %}
            <span class="glyphicon glyphicon-cog"></span>
            {% endif %}
        </a>
    </td>
    <td>
        {{addPlusToTest[3]}}
    </td>
    <td>
        <a href="#" onclick="deleteFileTest({{addPlusToTest[0]}})" style="color:red;">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </td>
</tr>
{% endif %}