{% if testUpload %}
<div style="color:black;" style="width:100%;">
    <table class="fileStep" data-stepexeid='{{stepexeId}}' style="width:100%;">
    {% if testUpload != "empty" %}
    {% for k in testUpload %}
        <tr data-fileid='{{k[0]}}'>
            <td>
                <a href="{{k[1]}}">
                    {% if k[3] == "txt" or k[3] == "pdf" or k[3] == "log" %}
                    <span class="glyphicon glyphicon-file"></span>
                    {% elif k[3] == "jpg" or k[3] == "jpeg" or k[3] == "png" %}
                    <span class="glyphicon glyphicon-picture"></span>
                    {% elif k[3] == "avi" or k[3] == "mp4" %}
                    <span class="glyphicon glyphicon-film"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-cog"></span>
                    {% endif %}
                </a>
            </td>
            <td>
                {{k[2]}}
            </td>
            <td>
                <a href="#" onclick="deleteFileTest({{k[0]}})" style="color:red;">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
    {% endfor %}
    {% endif %}
    </table>
    <form class="form-group" data-formid='{{stepexeId}}'  method="post" enctype="multipart/form-data" style="width:100%;">
        Select file to upload:
        <input type="file" name="fileToUpload" id='file{{stepexeId}}' data-fileid='{{stepexeId}}' multiple>
        <button class="btn btn-default btn-xs" type="button" onclick="saveFileTest({{stepexeId}})" style="width:50%; float:left;">Upload</button>
        <!---<input type="submit" value="Upload" name="submit" style="width:50%;float:left;">-->
        <button class="btn btn-default btn-xs" type="button" onclick="cancelFileTest({{stepId}})" style="width:50%;float:left;">Cancel</button>
    </form>
</div>
{% endif %}

{% if addPlusToTest %}
<tr data-fileid='{{addPlusToTest[0]}}'>
    <td>
        <a href='{{addPlusToTest[2]}}'>
            {% if addPlusToTest[4] == "txt" or addPlusToTest[4] == "pdf" or addPlusToTest[4] == "log" %}
            <span class="glyphicon glyphicon-file"></span>
            {% elif addPlusToTest[4] == "jpg" or addPlusToTest[4] == "jpeg" or addPlusToTest[4] == "png" %}
            <span class="glyphicon glyphicon-picture"></span>
            {% elif addPlusToTest[4] == "avi" or addPlusToTest[4] == "mp4" %}
            <span class="glyphicon glyphicon-film"></span>
            {% else %}
            <span class="glyphicon glyphicon-cog"></span>
            {% endif %}
        </a>
    </td>
    <td>
        {{addPlusToTest[3]}}
    </td>
    <td>
        <a href="#" onclick="deleteFileTest({{addPlusToTest[0]}})" style="color:red;">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </td>
</tr>
{% endif %}

{% if objectFile %}
{% if objectFile[4] != "jpg" and objectFile[4] != "jpeg" and objectFile[4] != "png" %}
<tr data-fileid='{{objectFile[0]}}'>
    <td>
        <a href='{{objectFile[2]}}' download>
            {% if objectFile[4] == "txt" or objectFile[4] == "pdf" or objectFile[4] == "log" %}
            <span class="glyphicon glyphicon-file"></span>
            <!--<span class="glyphicon glyphicon-picture"></span>-->
            {% elif objectFile[4] == "avi" or objectFile[4] == "mp4" %}
            <span class="glyphicon glyphicon-film"></span>
            {% else %}
            <span class="glyphicon glyphicon-cog"></span>
            {% endif %}
        </a>
    </td>
    <td>
        {{objectFile[3]}}
    </td>
    <td>
        <a href="#" onclick="deleteFileObject({{objectFile[0]}})" style="color:red;">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </td>
</tr>
{% else %}
    <div class="responsive" data-fileid='{{objectFile[0]}}'>
      <div class="img">
        <a target="_blank" href="{{ url_for('uploads',filename='object/'+objectFile[3]) }}" download>
          <img src="{{ url_for('uploads',filename='object/'+objectFile[3]) }}" alt="Trolltunga Norway" width="300" height="200">
        </a>
        <div class="desc">{{objectFile[3]}} 
            <a href="#" onclick="deleteFileObject({{objectFile[0]}})" style="color:red;">
                    <span class="glyphicon glyphicon-remove"></span>
            </a>
          </div>
      </div>
    </div>
{% endif %}
{% endif %}