{% if testUpload %}
<div style="color:black;" style="width:100%;">
    {% if testUpload != "empty" %}
    <table style="width:100%;">
    {% for k in testUpload %}
        <tr>
            <td>
                <a href="file://///"+{{k[1]}}>
                    {% if k[3] == "txt" or k[3] == "pdf" or k[3] == "log" %}
                    <span class="glyphicon glyphicon-file"></span>
                    {% elif k[3] == "jpg" or k[3] == "jpeg" or k[3] == "png" %}
                    <span class="glyphicon glyphicon-picture"></span>
                    {% elif k[3] == "avi" or k[3] == "mp4" %}
                    <span class="glyphicon glyphicon-film"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-cog"></span>
                    {% endif %}
                </a>
            </td>
            <td>
                {{k[2]}}.{{k[3]}}
            </td>
            <td>
                <a href="#" onclick="deleteFileTest()" style="color:red;">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
    New File Upload:
    <form style="width:100%;">
        Select file to upload:
        <input type="file" name="fileToUpload" id="fileToUpload">
        <button type="button" onclick="saveFileTest()" style="width:50%; float:left;">Upload</button>
        <button type="button" onclick="cancelFileTest()" style="width:50%;float:left;">Cancel</button>
    </form>
</div>
{% endif %}